# Local
.DS_Store
*.local
*.log*
*~*.docx
*.tmp
*.bkp
*.dtmp
~*.xlsx
.env.php
*.db
.phpunit.cache

# Dist
node_modules
dist/
vendor/
*.tar
*.css
*.js
!*.min.css
!*.min.js
!assets/css/theme.css
HAJU-*

# IDE
.vscode/*
!.vscode/extensions.json
.idea
*.sublime-*
