# Local
.DS_Store
*.local
*.log*
*~*.docx
*.tmp
*.bkp
*.dtmp
~*.xlsx
.env.php
*.db
.phpunit.cache
*.backup.sql

# Dist
node_modules
dist/
vendor/

# IDE
.vscode/*
!.vscode/extensions.json
.idea
*.sublime-workspace
