<?xml version="1.0" encoding="UTF-8"?>
<ruleset
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="vendor/squizlabs/php_codesniffer/phpcs.xsd">
  <arg name="colors" />
  <file>app</file>
  <file>resources/views</file>
  <file>routes</file>
  <file>tests</file>
  <file>.env.dist.php</file>
  <file>.env.php</file>
  <file>index.php</file>
  <file>rector.php</file>

  <rule ref="PSR1" />

  <rule ref="PSR1.Files.SideEffects.FoundWithSymbols">
    <exclude-pattern>helpers.php</exclude-pattern>
  </rule>
</ruleset>
