<?xml version="1.0" encoding="UTF-8"?>
<ruleset
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="./vendor/squizlabs/php_codesniffer/phpcs.xsd">
  <arg name="colors" />
  <arg name="tab-width" value="2" />
  <file>app</file>
  <file>tests</file>
  <file>views</file>
  <file>index.php</file>
  <file>rector.php</file>
  <exclude-pattern>vendor</exclude-pattern>
  <exclude-pattern>node_modules</exclude-pattern>
  <exclude-pattern>.idea</exclude-pattern>
  <exclude-pattern>.git</exclude-pattern>

  <rule ref="Generic">
    <exclude name="Generic.Files.EndFileNoNewline.Found" />
    <exclude name="Generic.WhiteSpace.DisallowSpaceIndent.SpacesUsed" />
    <exclude name="Generic.Arrays.DisallowShortArraySyntax.Found" />
    <exclude name="Generic.PHP.UpperCaseConstant.Found" />
    <exclude name="Generic.Functions.OpeningFunctionBraceBsdAllman.BraceOnSameLine" />
    <exclude name="Generic.Formatting.MultipleStatementAlignment.NotSameWarning" />
    <exclude name="Generic.Files.LowercasedFilename.NotFound" />
    <exclude name="Generic.NamingConventions.AbstractClassNamePrefix.Missing" />
    <exclude name="Generic.Commenting.DocComment.MissingShort" />
    <exclude name="Generic.WhiteSpace.DisallowSpaceIndent.SpacesUsedHeredocCloser" />
    <exclude name="Generic.NamingConventions.TraitNameSuffix.Missing" />
    <exclude name="Generic.NamingConventions.InterfaceNameSuffix.Missing" />
  </rule>

  <rule ref="Generic.PHP.ClosingPHPTag.NotFound">
    <exclude-pattern>index.php</exclude-pattern>
    <exclude-pattern>rector.php</exclude-pattern>
    <exclude-pattern>app</exclude-pattern>
  </rule>

  <rule ref="Generic.Arrays.ArrayIndent">
    <properties>
      <property name="indent" value="2" />
    </properties>
  </rule>

  <rule ref="Generic.WhiteSpace.ScopeIndent">
    <properties>
      <property name="indent" value="2" />
    </properties>
  </rule>

  <rule ref="Generic.WhiteSpace.ArbitraryParenthesesSpacing">
    <properties>
      <property name="ignoreNewlines" value="true" />
    </properties>
  </rule>

  <rule ref="Generic.Formatting.SpaceAfterNot">
    <properties>
      <property name="spacing" value="0" />
    </properties>
  </rule>
</ruleset>
