includes:
  - vendor/phpstan/phpstan/conf/bleedingEdge.neon
  - phpstan-baseline.neon

parameters:
  level: max
  paths:
    - app
    - tests
    - views
    - .env.dist.php
    - index.php
    - rector.php
  treatPhpDocTypesAsCertain: false
