includes:
  - vendor/phpstan/phpstan/conf/bleedingEdge.neon
  - phpstan-baseline.neon

parameters:
  level: 1
  paths:
    - app
    - tests
    - views
    - index.php
    - rector.php
  treatPhpDocTypesAsCertain: false
  strictRules:
    disallowedShortTernary: false
  excludePaths:
    - vendor
    - node_modules
    - .git
    - .idea
