includes:
  - vendor/phpstan/phpstan/conf/bleedingEdge.neon
  - phpstan-baseline.neon

parameters:
  level: 0
  paths:
    - app
    - tests
    - resources/views
    - .env.dist.php
    - .env.php
    - index.php
    - rector.php
  treatPhpDocTypesAsCertain: false
  strictRules:
    disallowedShortTernary: false
