parameters:
	ignoreErrors:
		-
			message: '#^Only booleans are allowed in a negated boolean, mixed given\.$#'
			identifier: booleanNot.exprNotBoolean
			count: 1
			path: app/Controllers/Web/Controller.php

		-
			message: '#^Call to function in_array\(\) requires parameter \#3 to be set\.$#'
			identifier: function.strict
			count: 1
			path: app/Controllers/Web/DoctorWebController.php

		-
			message: '#^Short ternary operator is not allowed\. Use null coalesce operator if applicable or consider using long ternary\.$#'
			identifier: ternary.shortNotAllowed
			count: 2
			path: app/Controllers/Web/DoctorWebController.php

		-
			message: '#^Call to function in_array\(\) requires parameter \#3 to be set\.$#'
			identifier: function.strict
			count: 1
			path: app/Controllers/Web/PatientWebController.php

		-
			message: '#^Only booleans are allowed in a ternary operator condition, mixed given\.$#'
			identifier: ternary.condNotBoolean
			count: 3
			path: app/Controllers/Web/PatientWebController.php

		-
			message: '#^Only booleans are allowed in an if condition, mixed given\.$#'
			identifier: if.condNotBoolean
			count: 2
			path: app/Controllers/Web/PatientWebController.php

		-
			message: '#^Short ternary operator is not allowed\. Use null coalesce operator if applicable or consider using long ternary\.$#'
			identifier: ternary.shortNotAllowed
			count: 1
			path: app/Controllers/Web/PatientWebController.php

		-
			message: '#^Only booleans are allowed in a negated boolean, mixed given\.$#'
			identifier: booleanNot.exprNotBoolean
			count: 2
			path: app/Controllers/Web/SessionWebController.php

		-
			message: '#^Call to function array_filter\(\) requires parameter \#2 to be passed to avoid loose comparison semantics\.$#'
			identifier: arrayFilter.strict
			count: 2
			path: app/Controllers/Web/SettingsWebController.php

		-
			message: '#^Call to function in_array\(\) requires parameter \#3 to be set\.$#'
			identifier: function.strict
			count: 2
			path: app/Controllers/Web/UserWebController.php

		-
			message: '#^Only booleans are allowed in &&, mixed given on the left side\.$#'
			identifier: booleanAnd.leftNotBoolean
			count: 2
			path: app/Controllers/Web/UserWebController.php

		-
			message: '#^Only booleans are allowed in a negated boolean, mixed given\.$#'
			identifier: booleanNot.exprNotBoolean
			count: 1
			path: app/Controllers/Web/UserWebController.php

		-
			message: '#^Only booleans are allowed in an if condition, mixed given\.$#'
			identifier: if.condNotBoolean
			count: 2
			path: app/Controllers/Web/UserWebController.php

		-
			message: '#^Only booleans are allowed in a negated boolean, mixed given\.$#'
			identifier: booleanNot.exprNotBoolean
			count: 1
			path: app/Middlewares/AuthenticationMiddleware.php

		-
			message: '#^Only booleans are allowed in an if condition, mixed given\.$#'
			identifier: if.condNotBoolean
			count: 1
			path: app/Middlewares/EnsureOneSelectedDepartment.php

		-
			message: '#^Only booleans are allowed in an if condition, mixed given\.$#'
			identifier: if.condNotBoolean
			count: 2
			path: app/Middlewares/EnsureOnlyAcceptOneDirector.php

		-
			message: '#^Only booleans are allowed in an if condition, mixed given\.$#'
			identifier: if.condNotBoolean
			count: 1
			path: app/Middlewares/EnsureUserIsNotAuthenticated.php

		-
			message: '#^Call to function in_array\(\) requires parameter \#3 to be set\.$#'
			identifier: function.strict
			count: 1
			path: app/Repositories/Infraestructure/Files/FilesSettingsRepository.php

		-
			message: '#^Short ternary operator is not allowed\. Use null coalesce operator if applicable or consider using long ternary\.$#'
			identifier: ternary.shortNotAllowed
			count: 2
			path: app/Repositories/Infraestructure/PDO/Connection.php

		-
			message: '#^Only booleans are allowed in a ternary operator condition, mixed given\.$#'
			identifier: ternary.condNotBoolean
			count: 1
			path: app/Repositories/Infraestructure/PDO/PDOPatientRepository.php

		-
			message: '#^Short ternary operator is not allowed\. Use null coalesce operator if applicable or consider using long ternary\.$#'
			identifier: ternary.shortNotAllowed
			count: 1
			path: app/Repositories/Infraestructure/PDO/PDOPatientRepository.php

		-
			message: '#^App\\ValueObjects\\AdultBirthDate\:\:__construct\(\) does not call parent constructor from App\\ValueObjects\\Date\.$#'
			identifier: constructor.missingParentCall
			count: 1
			path: app/ValueObjects/AdultBirthDate.php

		-
			message: '#^Call to function in_array\(\) requires parameter \#3 to be set\.$#'
			identifier: function.strict
			count: 1
			path: app/ValueObjects/Phone.php

		-
			message: '#^Dynamic call to static method PHPUnit\\Framework\\Assert\:\:assertSame\(\)\.$#'
			identifier: staticMethod.dynamicCall
			count: 2
			path: tests/Feature/StatusCheckTest.php

		-
			message: '#^Dynamic call to static method PHPUnit\\Framework\\Assert\:\:assertStringContainsString\(\)\.$#'
			identifier: staticMethod.dynamicCall
			count: 1
			path: tests/Feature/StatusCheckTest.php

		-
			message: '#^Dynamic call to static method PHPUnit\\Framework\\Assert\:\:assertInstanceOf\(\)\.$#'
			identifier: staticMethod.dynamicCall
			count: 1
			path: tests/ValueObjects/AdultBirthDateTest.php

		-
			message: '#^Dynamic call to static method PHPUnit\\Framework\\Assert\:\:assertIsInt\(\)\.$#'
			identifier: staticMethod.dynamicCall
			count: 1
			path: tests/ValueObjects/IdCardTest.php

		-
			message: '#^Dynamic call to static method PHPUnit\\Framework\\Assert\:\:assertIsString\(\)\.$#'
			identifier: staticMethod.dynamicCall
			count: 1
			path: tests/ValueObjects/NameTest.php

		-
			message: '#^Dynamic call to static method PHPUnit\\Framework\\Assert\:\:assertSame\(\)\.$#'
			identifier: staticMethod.dynamicCall
			count: 1
			path: tests/ValueObjects/PhoneTest.php

		-
			message: '#^Foreach overwrites \$range with its value variable\.$#'
			identifier: foreach.valueOverwrite
			count: 2
			path: views/components/charts.php

		-
			message: '#^Loose comparison via "\=\=" is not allowed\.$#'
			identifier: equal.notAllowed
			count: 1
			path: views/components/charts.php

		-
			message: '#^Short ternary operator is not allowed\. Use null coalesce operator if applicable or consider using long ternary\.$#'
			identifier: ternary.shortNotAllowed
			count: 6
			path: views/components/charts.php

		-
			message: '#^Only booleans are allowed in an if condition, mixed given\.$#'
			identifier: if.condNotBoolean
			count: 1
			path: views/components/headers/links-desktop.php

		-
			message: '#^Only booleans are allowed in an if condition, mixed given\.$#'
			identifier: if.condNotBoolean
			count: 1
			path: views/components/headers/links-mobile.php

		-
			message: '#^Construct empty\(\) is not allowed\. Use more strict comparison\.$#'
			identifier: empty.notAllowed
			count: 1
			path: views/components/input-group.php

		-
			message: '#^Short ternary operator is not allowed\. Use null coalesce operator if applicable or consider using long ternary\.$#'
			identifier: ternary.shortNotAllowed
			count: 1
			path: views/layouts/main.php

		-
			message: '#^Call to function in_array\(\) requires parameter \#3 to be set\.$#'
			identifier: function.strict
			count: 1
			path: views/pages/reports/epi11.php

		-
			message: '#^Only booleans are allowed in &&, mixed given on the left side\.$#'
			identifier: booleanAnd.leftNotBoolean
			count: 1
			path: views/pages/reports/epi11.php

		-
			message: '#^Only booleans are allowed in an if condition, mixed given\.$#'
			identifier: if.condNotBoolean
			count: 1
			path: views/pages/reports/epi11.php

		-
			message: '#^Call to function in_array\(\) requires parameter \#3 to be set\.$#'
			identifier: function.strict
			count: 1
			path: views/pages/reports/epi15.php

		-
			message: '#^Only booleans are allowed in &&, mixed given on the left side\.$#'
			identifier: booleanAnd.leftNotBoolean
			count: 1
			path: views/pages/reports/epi15.php

		-
			message: '#^Only booleans are allowed in an if condition, mixed given\.$#'
			identifier: if.condNotBoolean
			count: 1
			path: views/pages/reports/epi15.php
