@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(poppins/pxiDyp8kv8JHgFVrJJLmg1hlEA.ttf) format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(poppins/pxiDyp8kv8JHgFVrJJLmy15lEA.ttf) format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(poppins/pxiByp8kv8JHgFVrLDz8V1s.ttf) format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(poppins/pxiEyp8kv8JHgFVrFJA.ttf) format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(poppins/pxiByp8kv8JHgFVrLGT9V1s.ttf) format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(poppins/pxiByp8kv8JHgFVrLEj6V1s.ttf) format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(poppins/pxiByp8kv8JHgFVrLCz7V1s.ttf) format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(poppins/pxiByp8kv8JHgFVrLDD4V1s.ttf) format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(poppins/pxiByp8kv8JHgFVrLBT5V1s.ttf) format('truetype');
}

@font-face {
  font-family: 'Rajdhani';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(rajdhani/LDI2apCSOBg7S-QT7pasEcOs.ttf) format('truetype');
}

@font-face {
  font-family: 'Rajdhani';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(rajdhani/LDIxapCSOBg7S-QT7q4A.ttf) format('truetype');
}

@font-face {
  font-family: 'Rajdhani';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(rajdhani/LDI2apCSOBg7S-QT7pb0EMOs.ttf) format('truetype');
}

@font-face {
  font-family: 'Rajdhani';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(rajdhani/LDI2apCSOBg7S-QT7pbYF8Os.ttf) format('truetype');
}

@font-face {
  font-family: 'Rajdhani';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(rajdhani/LDI2apCSOBg7S-QT7pa8FsOs.ttf) format('truetype');
}
