h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: Rajdhani, sans-serif;
}

.form-floating {
  & .form-select,
  & .form-control:not(input[type="file"]) {
    min-height: 70px;
  }

  & > textarea:focus ~ label::after,
  & > textarea:not(:placeholder-shown) ~ label::after {
    background: transparent;
  }
}

:root,
[data-bs-theme="light"] {
  --bs-light-rgb: var(--bs-body-bg-rgb);
  --bs-dark-rgb: 0, 0, 0;
}

[data-bs-theme="dark"] {
  --bs-body-bg: black;
}

#sidebar {
  max-width: 75vw;
}

@media (min-width: 992px) {
  #sidebar {
    --bs-offcanvas-width: 26%;

    visibility: initial;
    transform: initial;
  }
}

@media (min-width: 992px) {
  #dashboard {
    padding-left: 26%;
  }
}

#dashboard {
  grid-template-rows: auto 1fr auto;
}
