h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: Rajdhani, sans-serif;
}

body {
  &.modal-open {
    padding-right: 0 !important;
    overflow-y: scroll !important;
  }
}

.form-floating {
  & .form-select,
  & .form-control:not(input[type="file"]) {
    min-height: 70px;
  }

  & > textarea:focus ~ label::after,
  & > textarea:not(:placeholder-shown) ~ label::after {
    background: transparent;
  }
}

[data-bs-theme="dark"] {
  & .bg-white {
    background-color: black !important;
    color: white;
  }

  & .card {
    --bs-card-cap-bg: #111;
  }
}
