a {
  text-decoration: none;
}

.input-group {
  height: 52.5px;
}

.input-group > .form-control {
  flex: 1;
}

.sidebar_icon {
  transform: unset;
}

.profile-info__main {
  border-right: unset;
  border-bottom: 2px dashed #ccc;
  text-align: center;
}

.profile-info__secondary {
  display: grid;
  grid-gap: 10px;
  padding-top: 1em;
}

.profile-info__secondary * {
  display: flex;
  flex-direction: column;
}

[data-bs-toggle="tab"].active {
  border-bottom: medium solid var(--bs-primary) !important;
}

.timeline {
  --border-color: hsl(0, 0%, 90%);

  border-left: 1px solid var(--border-color);
  padding-left: 2em;
  display: grid;
  gap: 2em;
}

.timeline-item,
.timeline-item > a {
  position: relative;
  display: grid;
  gap: .25em;
}

.timeline-item::before {
  position: absolute;
  display: block;
  background-color: var(--border-color);
  top: 0;
  left: -2.5em;
  border-radius: 50%;
  height: 1em;
  width: 1em;
  content: "";
}

.form-floating > label {
  left: unset;
  height: unset;
}

textarea {
  line-height: initial !important;
  overflow-y: hidden;
}

.single_quick_activity {
  transition: 250ms transform, 250ms box-shadow, 250ms background;
}

.single_quick_activity:hover {
  transform: scale(1.025) rotate(1deg);
  box-shadow: var(--bs-box-shadow-sm);
  background: #bbe6ff;
}

.single_quick_activity:nth-child(even):hover {
  transform: scale(1.025) rotate(-1deg);
}

.QA_section .QA_table thead th {
  border-bottom: initial !important;
}

.QA_section .QA_table tbody td {
  border-bottom: initial;
}

@media only screen and (min-width: 992px) {
  .profile-info__main {
    border-bottom: unset;
    text-align: initial;
  }

  .profile-info__secondary {
    border-left: 2px dashed #ccc;
    padding-left: 3em;
    padding-top: unset;
  }

  .sidebar {
    width: 26%;
  }

  .main_content {
    padding-left: 26%;
  }
}
