body {
  overflow-y: scroll;
}

.input-group>.form-control {
  flex: 1;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.header_iner {
  justify-content: space-between !important;
}

.sidebar_close_icon i {
  position: unset;
}

.sidebar_icon {
  position: unset;
  top: 50%;
  -webkit-transform: unset;
  -moz-transform: unset;
  -ms-transform: unset;
  -o-transform: unset;
  transform: unset;
  right: auto;
  left: 20px;
  background: transparent;
  border: none;
}

.main_content {
  padding-bottom: 0;
}

.main_content,
.main_content_iner {
  min-height: unset !important;
}

.footer_part {
  padding-top: 0;
}

.aspect-ratio-1 {
  display: block;
  position: relative;
  padding-top: 100%;
}

.aspect-ratio-1>img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.w-69 {
  width: 69px;
}

@media only screen and (min-width:992px) and (max-width:1200px) {
  .sidebar {
    width: 26%
  }

  .main_content {
    padding-left: 26%
  }
}
