html {
  scroll-behavior: smooth;
  overflow-y: scroll;
}

summary {
  display: initial;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body.modal-open {
  padding-right: 0 !important;
}

.input-group {
  height: 52.5px;
}

.input-group>.form-control {
  flex: 1;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.mm-collapse,
.mm-collapsing {
  padding-left: 45px !important;
}

.header_iner {
  justify-content: space-between !important;
}

.sidebar_close_icon i {
  position: unset;
}

.sidebar_icon {
  position: unset;
  top: 50%;
  -webkit-transform: unset;
  -moz-transform: unset;
  -ms-transform: unset;
  -o-transform: unset;
  transform: unset;
  right: auto;
  left: 20px;
  background: transparent;
  border: none;
}

.main_content {
  padding-bottom: 0;
}

.main_content,
.main_content_iner {
  min-height: unset !important;
}

.footer_part {
  padding-top: 0;
}

.profile-info__main {
  border-right: unset;
  border-bottom: 2px dashed #ccc;
  text-align: center;
}

.profile-info__secondary {
  display: grid;
  grid-gap: 10px;
  padding-top: 1em;
}

.profile-info__secondary * {
  display: flex;
  flex-direction: column;
}

[data-bs-toggle="tab"] {
  border-bottom: medium solid transparent !important;
}

[data-bs-toggle="tab"].active {
  border-bottom-color: var(--bs-primary) !important;
}

.timeline {
  --border-color: hsl(0, 0%, 90%);

  border-left: 1px solid var(--border-color);
  padding-left: 2em;
  display: grid;
  gap: 2em;
}

.timeline-item,
.timeline-item>a {
  position: relative;
  display: grid;
  gap: .25em;
}

.timeline-item::before {
  position: absolute;
  display: block;
  background-color: var(--border-color);
  top: 0;
  left: -2.5em;
  border-radius: 50%;
  height: 1em;
  width: 1em;
  content: '';
}

.fileupload.btn {
  position: absolute;
  right: 0;
  bottom: 0;
  background: rgba(33, 33, 33, 0.5);
  border-radius: 0;
  padding: 3px 10px;
  border: none;
}

.pointer {
  cursor: pointer;
}

.form-floating>label {
  left: unset;
  height: unset;
}

textarea {
  line-height: initial !important;
  overflow-y: hidden;
}

.profile_info_iner {
  pointer-events: painted;
}

.single_quick_activity {
  transition: 250ms transform, 250ms box-shadow;
}

.single_quick_activity:hover {
  transform: scale(1.025) rotate(1deg);
  box-shadow: var(--bs-box-shadow-sm);
}

.single_quick_activity:nth-child(even):hover {
  transform: scale(1.025) rotate(-1deg);
}

.custom-badge {
  border-radius: 4px;
  display: inline-block;
  font-size: 12px;
  min-width: 95px;
  padding: 1px 10px;
  text-align: center;
}

.status-green {
  background-color: #e5faf3;
  border: 1px solid #00ce7c;
  color: #00ce7c;
}

.status-green:hover {
  background-color: #aff0d9;
}

.status-red {
  background-color: #ffe5e6;
  border: 1px solid #fe0000;
  color: #fe0000;
}

.status-red:hover {
  background-color: #ff9fa3;
}

.QA_section .QA_table thead th {
  border-bottom: initial !important;
}

.QA_section .QA_table tbody td {
  border-bottom: initial;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .profile-info__main {
    border-bottom: unset;
    text-align: initial;
  }

  .profile-info__secondary {
    border-left: 2px dashed #ccc;
    padding-left: 3em;
    padding-top: unset;
  }

  .sidebar {
    width: 26%
  }

  .main_content {
    padding-left: 26%
  }
}
