.form_box .from_group {
  display: block;
  width: 100%;
  margin-bottom: 23px
}

.form_box .from_group label {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 13px;
  color: #707070
}

.form_box .from_group .nice_Select,
.form_box .from_group input,
.form_box .from_group textarea {
  width: 100%;
  display: block;
  background-color: #fef1f2;
  border: 1px solid #f1f2f3;
  height: 50px;
  line-height: 50px;
  border-radius: 5px;
  padding: 10px 20px;
  box-sizing: border-box;
}

.form_box .from_group textarea {
  height: 115px;
  line-height: 27px
}

.form_box .from_group .bootstrap-tagsinput input {
  border: none;
  width: auto;
  display: inline-block;
  background-color: transparent;
}

.form_box .from_group .bootstrap-tagsinput .badge [data-role=remove]:after {
  background-color: transparent;
}

.form_box .from_group .bootstrap-tagsinput .badge {
  margin: 0 5px;
  padding: 9px 8px;
  line-height: 12px;
  font-weight: 500;
  font-size: 13px
}

.form_box .from_group .badge-info {
  color: white;
  background-color: #2ec9b8
}

.form_box .from_group .nice_Select {
  line-height: 30px
}
