.list_header_btn_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-right: 60px
}

@media(max-width:575.98px) {
  .list_header_btn_wrapper {
    display: block;
    margin-bottom: 15px;
    margin-right: 0
  }
}

@media only screen and (min-width:576px) and (max-width:767px) {
  .list_header_btn_wrapper {
    margin-right: 0;
    margin-bottom: 15px
  }
}

@media only screen and (min-width:768px) and (max-width:991px) {
  .list_header_btn_wrapper {
    margin-right: 0;
    display: block
  }
}

@media only screen and (min-width:992px) and (max-width:1200px) {
  .list_header_btn_wrapper {
    margin-right: 0;
    display: block
  }
}

@media only screen and (min-width:1200px) and (max-width:1439px) {
  .list_header_btn_wrapper {
    margin-right: 30px
  }
}

@media only screen and (min-width:576px) and (max-width:767px) {
  .list_header_block {
    display: block
  }
}

@media only screen and (min-width:992px) and (max-width:1200px) {
  .list_header_block .success_faild_btn {
    margin-top: 15px
  }
}

@media only screen and (min-width:1200px) and (max-width:1439px) {
  .list_header_block .serach_field_2 {
    width: 300px
  }
}

@media only screen and (min-width:576px) and (max-width:767px) {
  .list_header_block .serach_field_2 {
    width: 380%
  }
}

@media only screen and (min-width:576px) and (max-width:767px) {
  .list_header_block .box_right {
    justify-content: space-between
  }
}
