.lms_checkbox_1 {
  display: inline-block;
  height: 30px;
  position: relative;
  width: 50px;
  margin-bottom: 0;
  margin-right: 15px
}

.lms_checkbox_1 input {
  display: none;
}

.lms_checkbox_1 .slider-check {
  background-color: #7e7172;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s
}

.lms_checkbox_1 .slider-check.round {
  border-radius: 34px
}

.lms_checkbox_1 .slider-check::before {
  background-color: #222;
  bottom: 5px;
  content: '';
  height: 20px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 20px
}

.lms_checkbox_1 .slider-check.round:before {
  border-radius: 50%
}

.lms_checkbox_1 input:checked+.slider-check {
  background-color: #fef1f2;
  color: white;
  content: 'oui'
}

.lms_checkbox_1 input:checked+.slider-check:before {
  transform: translateX(20px);
  background: #fe1724
}
