.Activity_timeline ul {
  border-left: 1px solid #ecfdff
}

.Activity_timeline ul li {
  position: relative;
  margin-bottom: 15px
}

.Activity_timeline ul li:last-child {
  margin-bottom: 20px
}

.Activity_timeline ul li .activity_bell {
  background: #3bb0bd;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  left: -5.5px;
  top: 5px
}

.Activity_timeline ul li .activity_wrap {
  position: relative;
  padding-left: 30px
}

.Activity_timeline ul li .activity_wrap h6 {
  font-size: 18px;
  font-weight: 600;
  color: #2e4765
}

.Activity_timeline ul li .activity_wrap p {
  font-size: 14px;
  line-height: 28px;
  color: #818e94;
  font-weight: 400
}

.activity_progressbar .single_progressbar h6 {
  font-size: 12px;
  text-transform: capitalize;
  margin-bottom: 5px
}
