.border_style {
  width: 100%;
  display: block;
  text-align: center;
  padding: 13px 0 17px;
  position: relative;
  z-index: 1;
}

.border_style span {
  padding: 0 25px;
  text-align: center;
  display: inline-block;
  background-color: white;
}

.border_style:after {
  position: absolute;
  content: "";
  height: 1px;
  width: 100%;
  background-color: #bbc1c9;
  top: 24px;
  left: 0;
  z-index: -1;
}
