.btn-primary {
  color: white;
  background-color: #2daab8;
  border-color: #2daab8;
}

.btn-primary:hover {
  color: white;
  background-color: #16bbe5;
  border-color: #16bbe5;
}

.btn_1 {
  background-color: #2daab8;
  border: 1px solid #2daab8;
  color: white;
  display: inline-block;
  padding: 11px 23px;
  text-transform: capitalize;
  line-height: 16px;
  font-size: 13px;
  font-weight: 500;
  border-radius: 5px;
  white-space: nowrap;
  transition: .5s;
}

.btn_1 i {
  font-size: 15px;
  padding-right: 7px;
}

.btn_1:hover {
  background-color: white;
  border: 1px solid #313f5a;
  color: #2daab8;
}

.btn_1.light {
  background-color: rgba(46, 71, 101, 0.1);
  border: 1px solid transparent;
  color: #2e4765;
}

.btn_1.green {
  background-color: rgba(46, 201, 184, 0.1);
  border: 1px solid transparent;
  color: #2ec9b8;
}

.btn_1.sm {
  font-size: 12px;
  padding: 6px 15px;
}

.btn_1.big_btn {
  padding: 11px 36px;
}

.btn_1.form_big_btn_1 {
  padding: 16px 62px;
}

@media (max-width: 575.98px) {
  .btn_1.form_big_btn_1 {
    padding: 16px 30px;
  }
}

.btn_1.big_btn2 {
  padding: 11px 37px;
}

.btn_2 {
  color: #2e4765;
  border: 1px solid #2e4765;
  display: inline-block;
  padding: 11px 23px;
  text-transform: capitalize;
  line-height: 16px;
  font-size: 13px;
  font-weight: 500;
  border-radius: 5px;
  background-color: white;
  white-space: nowrap;
  transition: .5s;
}

.btn_2:hover {
  background-color: #2e4765;
  border: 1px solid #2e4765;
  color: white;
}

.btn_3 {
  color: #222;
  border: 1px solid #e4e8ec;
  display: inline-block;
  padding: 11px 27px;
  text-transform: capitalize;
  line-height: 16px;
  font-size: 13px;
  font-weight: 500;
  border-radius: 5px;
  background-color: white;
  white-space: nowrap;
  transition: .5s;
}

.btn_3.border_color_1 {
  border: 1px solid #eee1e2;
}

.btn_3:hover {
  background-color: #2e4765;
  border: 1px solid #2e4765;
  color: white;
}

.btn_4 {
  display: inline-block;
  border: 1px solid #e4e8ec;
  border-radius: 5px;
  color: #7e7172;
  text-align: center;
  padding: 9px 15px;
  line-height: 20px;
  font-size: 13px;
  font-weight: 300;
  transition: .5s;
}

.btn_4:hover {
  background-color: #2e4765;
  border: 1px solid #2e4765;
  color: white;
}

.btn_5 {
  border: 1px solid white;
  display: inline-block;
  padding: 16px 26px;
  text-transform: capitalize;
  line-height: 16px;
  font-size: 13px;
  font-weight: 500;
  border-radius: 5px;
  white-space: nowrap;
  transition: .5s;
  background-color: white;
  text-shadow: none;
  opacity: 1;
  color: #222;
}

.btn_5:hover {
  background-color: #2e4765;
  border: 1px solid #2e4765;
  color: white;
  opacity: 1;
}

.btn_5.small_btn {
  padding: 11px 26px;
}

@media (max-width: 575.98px) {
  .btn_5.small_btn {
    padding: 11px 19px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .btn_5.small_btn {
    padding: 11px 19px;
  }
}

.btn_6 {
  color: #222;
  border: 1px solid #eee1e2;
  display: inline-block;
  padding: 11px 25px;
  text-transform: capitalize;
  line-height: 16px;
  font-size: 13px;
  font-weight: 500;
  border-radius: 5px;
  background-color: white;
  white-space: nowrap;
  transition: .5s;
}

.btn_6:hover {
  background-color: #2e4765;
  border: 1px solid #2e4765;
  color: white;
}

.sm_btn {
  line-height: 15px;
  background-color: white;
  height: 34px;
  padding: 9px 20px;
  color: #212e40;
  width: 150px;
  text-transform: capitalize;
  border: 1px solid #eee1e2;
  box-sizing: border-box;
}

.white_btn {
  display: inline-block;
  color: #7e7172;
  font-size: 12px;
  font-weight: 400;
  background: white;
  transition: .3s;
  padding: 6px 20px;
  border-radius: 3px;
}

.white_btn:hover {
  background: #2daab8;
  color: white;
}

.red_btn {
  display: inline-block;
  color: white;
  font-size: 12px;
  font-weight: 400;
  background: #2daab8;
  transition: .3s;
  padding: 6px 20px;
  border-radius: 3px;
}

.red_btn:hover {
  background: white;
  color: #7e7172;
}

.white_btn3 {
  border: 1px solid white;
  display: inline-block;
  padding: 11px 30px;
  text-transform: capitalize;
  line-height: 16px;
  font-size: 13px;
  font-weight: 500;
  border-radius: 5px;
  white-space: nowrap;
  transition: .5s;
  background-color: white;
  text-shadow: none;
  opacity: 1;
  color: #222;
  margin-right: 10px;
}

.white_btn3:hover {
  background-color: #2e4765;
  border: 1px solid #2e4765;
  color: white;
  opacity: 1;
}

.status_btn {
  display: inline-block;
  padding: 2px 15px;
  font-size: 11px;
  font-weight: 300;
  color: white;
  background: #05d34e;
  border-radius: 30px;
  text-transform: capitalize;
  white-space: nowrap;
  min-width: 70px;
  text-align: center;
}

.status_btn.yellow_btn {
  background: #ffba00;
}

.status_btn:hover {
  color: white;
}

.white_btn_line {
  white-space: nowrap;
  height: 50px;
  background: 0 0;
  margin-left: 10px;
  font-size: 13px;
  font-weight: 500;
  text-transform: capitalize;
  padding: 0 19px;
  border-radius: 3px;
  border: 1px solid #eee1e2;
  color: #7e7172;
  transition: .3s;
  box-sizing: border-box;
}

.white_btn_line i {
  font-size: 13px;
  color: #7e7172;
  margin-right: 6px;
}

.white_btn_line:hover {
  background: #2daab8;
  color: white;
  border: 1px solid #2daab8;
}

.white_btn_line:hover i {
  color: white;
  transition: .3s;
}

.white_btn_line2 {
  white-space: nowrap;
  height: 30px;
  background: 0 0;
  font-size: 12px;
  font-weight: 300;
  display: inline-block;
  text-transform: capitalize;
  border: 1px solid #eee1e2;
  color: #7e7172;
  transition: .3s;
  border-radius: 30px;
  line-height: 28px;
  padding: 0 18px;
}

.white_btn_line2:hover {
  background: #2daab8;
  color: white;
  border: 1px solid #2daab8;
}

.white_btn_line2:hover i {
  color: white;
  transition: .3s;
}

@media (max-width: 575.98px) {
  .add_button {
    margin-top: 15px;
    margin-left: 0;
  }
}

.title_btn {
  margin-bottom: 20px;
}

.title_btn ul li {
  display: inline-block;
}

.title_btn ul li a {
  display: inline-block;
  background: white;
  font-size: 11px;
  text-transform: capitalize;
  color: #706f9a;
  border-radius: 5px;
  line-height: 25px;
  padding: 0 10px;
  transition: .3s;
}

.title_btn ul li a:hover {
  background: #a66dd4;
  color: white;
}

.title_btn ul li a.active {
  background: #a66dd4;
  color: white;
}

.close.white_btn2 {
  border: 1px solid white;
  display: inline-block;
  padding: 16px 26px;
  text-transform: capitalize;
  line-height: 16px;
  font-size: 13px;
  font-weight: 500;
  border-radius: 5px;
  white-space: nowrap;
  transition: .5s;
  background-color: white;
  text-shadow: none;
  opacity: 1;
  color: #222;
  margin-right: 10px;
}

.close.white_btn2:hover {
  background-color: #2e4765;
  border: 1px solid #2e4765;
  color: white;
  opacity: 1;
}
