.check_box_item {
  margin-top: 11px;
}

.check_box_item .single_check_box {
  padding: 15px 0;
  border-bottom: 1px solid #e4e8ec;
}

.check_box_item .single_check_box .switch {
  appearance: none;
  background-color: transparent;
  padding: 14px 27px;
  margin-right: 0;
  border: 1px solid #e4e8ec;
}

.check_box_item .single_check_box .switch:after {
  top: 4px;
  width: 20px;
  height: 20px;
}

.check_box_item .single_check_box .switch:checked::after {
  background-color: #7e7172;
  left: 4px;
}

.check_box_item .single_check_box .switch:checked {
  background-color: transparent;
}

.cs_check_box {
  display: flex;
  margin-top: 20px;
}

.cs_check_box input,
.cs_check_box label {
  line-height: 20px;
  height: auto;
  width: auto;
  max-width: auto;
}

.cs_check_box .common_checkbox {
  display: none;
}

.cs_check_box label {
  position: relative;
  padding-left: 34px;
  margin-bottom: 0;
}

.cs_check_box .common_checkbox + label {
  display: block;
  cursor: pointer;
  color: #7e7172;
}

.cs_check_box .common_checkbox + label:after {
  position: absolute;
  left: 0;
  top: 0;
  height: 20px;
  width: 20px;
  border: 1px solid #7e7172;
  border-radius: 5px;
  content: "";
  box-sizing: border-box;
}

.cs_check_box .common_checkbox:checked + label:after {
  content: "\f00c";
  font-family: "font awesome\ 5 free";
  font-weight: 900;
  padding: 2px;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
}

.cs_check_box .common_checkbox {
  display: none;
}

.cs_checkbox {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  user-select: none;
}

.cs_checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.cs_checkbox .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  box-sizing: border-box;
  background-color: transparent;
  border: 1px solid #e4e8ec;
}

.cs_checkbox:after {
  content: "";
  position: absolute;
  display: none;
}

.cs_checkbox input:checked ~ .checkmark:after {
  display: block;
  left: 6px;
  top: 1px;
  width: 5px;
  height: 9px;
  border: solid #7e7172;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  position: absolute;
  content: "";
  box-sizing: border-box;
}

.cs_checkbox span {
  padding: 0;
}

.custom_checkbox tr th:first-child,
.custom_checkbox tr td:first-child {
  padding: 16px 0;
}

.lms_checkbox_1 {
  display: inline-block;
  height: 30px;
  position: relative;
  width: 50px;
  margin-bottom: 0;
  margin-right: 15px;
}

.lms_checkbox_1 input {
  display: none;
}

.lms_checkbox_1 .slider-check {
  background-color: #7e7172;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.lms_checkbox_1 .slider-check.round {
  border-radius: 34px;
}

.lms_checkbox_1 .slider-check::before {
  background-color: #222;
  bottom: 5px;
  content: "";
  height: 20px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 20px;
}

.lms_checkbox_1 .slider-check.round:before {
  border-radius: 50%;
}

.lms_checkbox_1 input:checked + .slider-check {
  background-color: #fef1f2;
  color: white;
  content: "oui";
}

.lms_checkbox_1 input:checked + .slider-check:before {
  transform: translateX(20px);
  background: #fe1724;
}

.checkbox_wrap p {
  font-size: 13px;
  font-weight: 300;
  color: #7e7172;
  margin-bottom: 0;
}

.checkbox label {
  margin-bottom: 0;
  margin-top: 25px;
  color: #9c9c9c;
  margin-left: 8px;
}

.primary_checkbox {
  display: inline-block;
  position: relative;
  width: 18px;
  height: 18px;
  margin: 0;
  flex: 18px 0 0;
  line-height: 18px;
}

.primary_checkbox .checkmark {
  position: relative;
  width: 18px;
  height: 18px;
  top: 0;
  left: 0;
  display: block;
  cursor: pointer;
  line-height: 18px;
  flex: 18px 0 0;
  border-radius: 50%;
}

.primary_checkbox input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
}

.primary_checkbox input:checked ~ .checkmark:after {
  width: 100%;
  height: 100%;
  border: 0;
  transition: .3s;
  transform: scale(0);
}

.primary_checkbox input:checked ~ .checkmark {
  background: #16bbe5 !important;
  box-shadow: 0 5px 10px rgba(59, 118, 239, 0.3) !important;
  transition: .3s;
}

.primary_checkbox input:checked ~ .checkmark::before {
  content: "\e64c";
  font-family: themify;
  position: absolute;
  display: block;
  top: 0;
  left: 3px;
  text-indent: 1px;
  color: #828bb2;
  background-color: transparent;
  border: 0;
  -webkit-transform: rotate(8deg);
  -moz-transform: rotate(8deg);
  -ms-transform: rotate(8deg);
  -o-transform: rotate(8deg);
  transform: rotate(8deg);
  font-size: 10px;
  font-weight: 600;
  line-height: 18px;
  z-index: 99;
  color: white;
  transition: .3s;
}

.primary_checkbox .checkmark:after {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  content: "";
  width: 18px;
  height: 18px;
  background: 0 0;
  border-radius: 50px;
  border: 1px solid #828bb2;
  transition: .3s;
  transform: scale(1);
}
