.dashboard_part .notification_tab {
  padding: 27px 25px;
  background-color: #f5ecec;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
  -webkit-transition: .5s;
  transition: .5s;
}

.dashboard_part .notification_tab p {
  font-size: 16px;
  color: #222;
}

.dashboard_part .notification_tab p a {
  color: #2e4765;
}

.dashboard_part .hide_icon {
  cursor: pointer;
}

.dashboard_part .hide_icon i {
  color: #2e4765;
  font-size: 10px;
}
