.file_upload {
  border: 1px solid #eee1e2;
  padding: 9px 24px;
  border-radius: 3px
}

.file_upload label {
  margin-bottom: 0;
}

.file_upload .form-group {
  padding: 0;
  margin-bottom: 0
}

.file_upload .btn_file_upload {
  color: white;
  padding: 0;
  height: 30px;
  line-height: 30px;
  border: 0;
  display: inline-block
}

.file_upload .btn_file_upload:hover,
.file_upload .btn_file_upload:focus {
  color: #888;
  border-color: #888
}

.file_upload .input-file,
.file_upload .input-file2 {
  width: .1px;
  height: .1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1
}

.file_upload .input-file+.js-labelFile,
.file_upload .input-file+.js-labelFile2,
.file_upload .input-file2+.js-labelFile,
.file_upload .input-file2+.js-labelFile2 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 10px;
  cursor: pointer
}

.file_upload .btn {
  padding: 0 16px;
  background-color: #fe1724;
  display: inline-block;
  font-size: 14px;
  color: white;
  border-radius: 30px;
  bottom: 0;
  margin-bottom: 0;
}

.file_upload .btn:hover {
  background-color: #2e4765;
  color: white;
  border: 0
}

.file_upload .form-group {
  background-color: white;
  width: 100%;
  padding: 0;
  border-radius: 5px
}
