.form_style .form-group label,
.form_style .form-group p {
  font-size: 14px;
  font-weight: 300;
  text-transform: capitalize;
  margin-bottom: 13px;
  color: #7e7172
}

.form_style .form-group input {
  border: 1px solid #e4e8ec;
  font-size: 13px;
  font-weight: 300;
  color: #7e7172;
  padding: 15px 25px;
  background-color: #fef1f2;
  height: auto;
  line-height: 18px
}

.form_box .from_group {
  display: block;
  width: 100%;
  margin-bottom: 23px
}

.form_box .from_group label {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 13px;
  color: #707070
}

.form_box .from_group .nice_Select,
.form_box .from_group input,
.form_box .from_group textarea {
  width: 100%;
  display: block;
  background-color: #fef1f2;
  border: 1px solid #f1f2f3;
  height: 50px;
  line-height: 50px;
  border-radius: 5px;
  padding: 10px 20px;
  box-sizing: border-box;
}

.form_box .from_group textarea {
  height: 115px;
  line-height: 27px
}

.form_box .from_group .bootstrap-tagsinput input {
  border: none;
  width: auto;
  display: inline-block;
  background-color: transparent;
}

.form_box .from_group .bootstrap-tagsinput .badge [data-role=remove]:after {
  background-color: transparent;
}

.form_box .from_group .bootstrap-tagsinput .badge {
  margin: 0 5px;
  padding: 9px 8px;
  line-height: 12px;
  font-weight: 500;
  font-size: 13px
}

.form_box .from_group .badge-info {
  color: white;
  background-color: #2ec9b8
}

.form_box .from_group .nice_Select {
  line-height: 30px
}

.form_group {
  margin-top: 24px
}

.form_group input {
  width: 100%;
  background-color: #fef1f2;
  border-radius: 5px;
  border: 1px solid #f1f3f5;
  padding: 12px 20px
}

.form_group .single_form_item label {
  width: 100%;
  display: block
}

.form_group .single_form_item input {
  width: auto;
  display: inline-block;
  padding: 12px 20px;
  max-width: 85px;
  color: #9c9c9c
}

.form_group #CVV {
  max-width: 118px !important
}

.form_group .nice_Select {
  background-color: #fef1f2;
  margin-right: 10px;
  color: #9c9c9c
}

.indvisual_form .btn_1.big_btn {
  padding: 16px 36px
}

.indvisual_form .chose_thumb_title {
  font-size: 12px;
  font-weight: 300;
  color: #222;
  text-align: left;
  margin: 0;
  margin-bottom: 0;
  display: block;
  margin-bottom: 8px
}

.indvisual_form .input_wrap label {
  font-size: 12px;
  font-weight: 300;
  color: #222;
  text-align: left;
  margin: 0;
  margin-bottom: 0;
  display: block;
  margin-bottom: 8px
}

.indvisual_form .input_wrap textarea {
  height: 100px;
  padding: 0;
  line-height: 28px;
  padding: 13px 25px
}

.indvisual_form .input_wrap textarea.max_textarea {
  height: 290px
}

.indvisual_form .nice_Select,
.indvisual_form input,
.indvisual_form textarea {
  height: 50px;
  line-height: 50px;
  background-color: white;
  border: 1px solid #eee1e2;
  padding: 10px 25px;
  color: #7e7172;
  font-weight: 500;
  font-size: 13px;
  width: 100%;
  display: block;
  margin-bottom: 21px;
  font-weight: 300;
  border-radius: 3px
}

.indvisual_form .nice_Select::placeholder,
.indvisual_form input::placeholder,
.indvisual_form textarea::placeholder {
  color: #7e7172;
  font-weight: 300;
  opacity: 1
}

.indvisual_form .nice_Select {
  line-height: 30px
}

.indvisual_form .nice_Select :after {
  left: 22px
}

.indvisual_form .nice-select.nice_Select2 {
  height: 30px;
  line-height: 30px;
  background-color: white;
  border: 1px solid #eee1e2;
  padding: 0 37px 0 20px;
  color: #7e7172;
  font-weight: 500;
  font-size: 13px;
  width: 100%;
  display: block;
  margin-bottom: 21px;
  font-weight: 300;
  border-radius: 3px;
  margin: 0;
  width: auto
}

.indvisual_form .nice-select.nice_Select2::after {
  top: 20%
}
