.income_servay .count_content {
  text-align: center;
  margin-bottom: 30px
}

.income_servay .count_content h3 {
  font-size: 30px;
  font-weight: 600;
  color: #2e4765;
  line-height: 1;
  margin-bottom: 5px
}

.income_servay .count_content h3 span {
  color: #2e4765;
  font-weight: 600;
  line-height: 1
}

.income_servay .count_content p {
  font-size: 14px;
  font-weight: 400;
  color: #b2b5c0;
  line-height: 1
}
