.nice_Select {
  border: 0;
  border-radius: 0;
  padding-left: 0;
  padding-right: 30px;
  color: #415094;
}

.nice_Select .nice-select-search-box {
  width: 200px;
}

.nice_Select.bgLess {
  background: 0 0;
  border: 0;
}

.nice_Select:after {
  content: "\e62a";
  border: 0;
  transform: rotate(0deg);
  margin-top: -16px;
  font-size: 12px;
  font-weight: 500;
  right: 18px;
  transform-origin: none;
  transition: all .1s ease-in-out;
  margin-top: -22px;
}

.nice_Select.open::after {
  transform: rotate(180deg);
  margin-top: 12px;
  right: 12px;
}

.nice_Select:focus {
  box-shadow: none;
  border: 0;
}

.nice_Select:hover {
  border: 0;
}

.nice_Select.open .list {
  min-width: 200px;
  left: 0;
  overflow-y: auto;
}

.nice_Select.open .list li:first-child {
  color: #000;
}

.nice_Select .current {
  transition: all .4s ease 0s;
}

.nice_Select .list {
  width: 100%;
  left: auto;
  right: 0;
  border-radius: 0 0 10px 10px;
  margin-top: 1px;
  z-index: 9999;
  box-shadow: 0 10px 20px rgba(108, 39, 255, 0.3);
}

.nice_Select .list li {
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
}

.nice_Select2 {
  color: #415094;
  background: 0 0;
  border: 1px solid #eaf0f4;
  padding-left: 25px;
  padding-right: 47px;
  border-radius: 4px;
  height: 32px;
  line-height: 31px;
  font-size: 12px;
  text-transform: capitalize;
  box-sizing: border-box;
}

.nice_Select2 .nice-select-search-box {
  width: 100%;
  margin-top: 5px;
}

.nice_Select2:after {
  content: "\e62a";
  border: 0;
  transform: rotate(0deg);
  margin-top: -16px;
  font-size: 12px;
  font-weight: 500;
  transform-origin: none;
  transition: all .1s ease-in-out;
  margin-top: -16px;
  right: 30px;
}

.nice_Select2:active,
.nice_Select2.open,
.nice_Select2:focus {
  border-color: #eaf0f4;
}

.nice_Select2.open::after {
  transform: rotate(180deg);
  margin-top: 8px;
  right: 24px;
}

.nice_Select2:focus {
  box-shadow: none;
  border: 1px solid #eaf0f4;
}

.nice_Select2:hover {
  border: 1px solid #eaf0f4;
}

.nice_Select2.open .list {
  min-width: 100%;
  margin-top: 5px;
  left: 0;
  overflow-y: auto;
}

.nice_Select2.open .list li:first-child {
  color: #000;
}

.nice_Select2 .current {
  transition: all .4s ease 0s;
}

.nice_Select2 .list {
  width: 100%;
  left: auto;
  right: 0;
  border-radius: 0 0 10px 10px;
  margin-top: 1px;
  z-index: 9999;
  box-shadow: 0 10px 20px rgba(108, 39, 255, 0.3);
}

.nice_Select2 .list li {
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
}
