.owl-carousel .owl-nav button {
  width: 39px;
  height: 39px;
  border-radius: 7px;
  background: #eff1f7;
  position: absolute;
  top: -89px;
  right: 0;
  font-size: 18px !important;
  background: #eff1f7 !important;
  color: #141124
}

.owl-carousel .owl-nav button.owl-prev {
  right: 50px
}

.owl-carousel .owl-nav button:hover {
  background: #16bbe5 !important;
  color: white
}
