.custom_lms_radio_2 label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  font-size: 13px;
  font-weight: 300;
  color: #7e7172;
  margin-left: 0;
  padding-bottom: 15px;
  margin-top: 0
}

.custom_lms_radio_2 label span {
  display: inline-block;
  position: relative;
  background-color: transparent;
  width: 20px;
  height: 20px;
  transform-origin: center;
  border: 1px solid #eee2e3;
  border-radius: 50%;
  vertical-align: -6px;
  margin-right: 15px;
  transition: background-color 150ms 200ms, transform 350ms cubic-bezier(.78, -1.22, .17, 1.89)
}

.custom_lms_radio_2 label span:before {
  content: "";
  width: 0;
  height: 1px;
  border-radius: 2px;
  background: #16bbe5;
  position: absolute;
  transform: rotate(38deg);
  top: 13px;
  left: 9px;
  transition: width 50ms ease 50ms;
  transform-origin: 0% 0%;
  top: 9.69px;
  left: 4.99px;
  border-radius: 0
}

.custom_lms_radio_2 label span:after {
  content: "";
  width: 0;
  height: 1px;
  border-radius: 2px;
  background: #16bbe5;
  position: absolute;
  transform: rotate(305deg);
  top: 12.8px;
  left: 7.48px;
  transition: width 50ms ease;
  transform-origin: 0% 0%;
  border-radius: 0
}

.custom_lms_radio_2 label:hover span:before {
  width: 4px;
  transition: width 100ms ease
}

.custom_lms_radio_2 label:hover span:after {
  width: 10px;
  transition: width 150ms ease 100ms
}

.custom_lms_radio_2 input[type=radio] {
  display: none
}

.custom_lms_radio_2 input[type=radio]:checked+label span {
  background-color: #16bbe5;
  transform: scale(1);
  border-color: #16bbe5
}

.custom_lms_radio_2 input[type=radio]:checked+label span:after {
  width: 10px;
  background: white;
  transition: width 150ms ease 100ms
}

.custom_lms_radio_2 input[type=radio]:checked+label span:before {
  width: 4px;
  background: white;
  transition: width 150ms ease 100ms
}

.custom_lms_radio_2 input[type=radio]:checked+label:hover span {
  background-color: #16bbe5;
  transform: scale(1.25);
  border-color: #16bbe5
}

.custom_lms_radio_2 input[type=radio]:checked+label:hover span:after {
  width: 10px;
  background: white;
  transition: width 150ms ease 100ms
}

.custom_lms_radio_2 input[type=radio]:checked+label:hover span:before {
  width: 4px;
  background: white;
  transition: width 150ms ease 100ms
}
