.serach_field-area {
  width: 480px;
  position: relative
}

@media only screen and (min-width:992px) and (max-width:1200px) {
  .serach_field-area {
    width: 400px
  }
}

.serach_field-area .search_inner input {
  color: black;
  font-size: 17px;
  height: 55px;
  width: 100%;
  padding-left: 82px;
  border: 0;
  padding-right: 15px;
  border-bottom: 1px solid #f4f7fc;
  background: #f5f7fd;
  border-radius: 30px;
  box-sizing: border-box;
}

.serach_field-area .search_inner input::placeholder {
  font-size: 16px;
  font-weight: 400;
  color: #818e94;
  font-family: poppins, sans-serif
}

.serach_field-area .search_inner input:focus {
  outline: none
}

.serach_field-area .search_inner button {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background: 0 0;
  font-size: 12px;
  border: 0;
  padding-left: 40px;
  padding-right: 11px
}

.serach_field-area .search_inner button i {
  font-size: 14px;
  color: #818e94
}

.serach_field-area2 {
  width: 480px;
  position: relative
}

@media(max-width:991px) {
  .serach_field-area2 {
    width: auto
  }
}

.serach_field-area2 .search_inner input {
  color: black;
  font-size: 17px;
  height: 55px;
  width: 100%;
  padding-left: 82px;
  border: 0;
  padding-right: 15px;
  border-bottom: 1px solid #f4f7fc;
  background: #f5f7fd;
  border-radius: 30px;
  box-sizing: border-box;
}

.serach_field-area2 .search_inner input::placeholder {
  font-size: 16px;
  font-weight: 400;
  color: #818e94;
  font-family: poppins, sans-serif
}

.serach_field-area2 .search_inner input:focus {
  outline: none
}

.serach_field-area2 .search_inner button {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background: 0 0;
  font-size: 12px;
  border: 0;
  padding-left: 40px;
  padding-right: 11px
}

.serach_field-area2 .search_inner button i {
  font-size: 14px;
  color: #818e94
}

.serach_field_2 {
  width: 430px;
  position: relative;
  margin-right: 0
}

@media(max-width:575.98px) {
  .serach_field_2 {
    width: 100%
  }
}

@media only screen and (min-width:576px) and (max-width:767px) {
  .serach_field_2 {
    width: 190px
  }
}

@media only screen and (min-width:768px) and (max-width:991px) {
  .serach_field_2 {
    width: 230px
  }
}

@media(min-width:992px) and (max-width:1199.98px) {
  .serach_field_2 {
    width: 300px
  }
}

.serach_field_2 .search_inner input {
  color: black;
  font-size: 13px;
  height: 40px;
  width: 100%;
  border-radius: 5px;
  padding-left: 55px;
  border: 1px solid #2daab8;
  padding-right: 15px;
  box-sizing: border-box;
}

.serach_field_2 .search_inner input::placeholder {
  font-size: 13px;
  font-weight: 300;
  color: #7e7172
}

.serach_field_2 .search_inner input:focus {
  outline: none
}

.serach_field_2 .search_inner button {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background: 0 0;
  font-size: 12px;
  border: 0;
  padding-left: 19px;
  padding-right: 11px
}

.serach_field_2 .search_inner button i {
  font-size: 12px;
  color: #2daab8
}

.serach_field_2 .search_inner button::before {
  position: absolute;
  width: 1px;
  height: 24px;
  content: '';
  background: #2daab8;
  top: 50%;
  transform: translateY(-50%);
  right: 0
}
