.sidebar {
  height: 100vh;
  left: 0;
  top: 0;
  padding-bottom: 50px;
  position: fixed;
  width: 270px;
  z-index: 999;
  overflow: hidden;
  overflow-y: auto;
  transition: .5s;
  background: white;
  box-shadow: 0 0 40px #eff1f7;
  box-sizing: border-box;
}

@media only screen and (min-width:992px) and (max-width:1200px) {
  .sidebar.hide_vertical_menu {
    left: -20%
  }
}

@media(min-width:1201px) {
  .sidebar.hide_vertical_menu {
    left: -270px
  }
}

@media(max-width:991px) {
  .sidebar {
    left: -280px;
    transition: .5s;
    top: 0;
    width: 280px;
    background: white
  }
}

@media only screen and (min-width:992px) and (max-width:1200px) {
  .sidebar {
    width: 20%
  }
}

.sidebar .logo {
  margin: 30px;
  background: white;
  padding: 33px 30px;
  border-radius: 7px
}

.sidebar .logo img {
  width: 100%
}

@media(max-width:991px) {
  .sidebar .logo {
    padding: 30px
  }
}

.sidebar .single_sidebar_tittle i {
  font-size: 18px;
  margin-right: 12px;
  color: #f8dbdd;
  transition: .5s
}

.sidebar .single_sidebar_tittle a {
  font-size: 14px;
  font-weight: 500;
  color: #222;
  padding: 10px 25px 10px 40px;
  width: 100%;
  display: flex;
  align-items: center;
  transition: .3s;
  position: relative;
  z-index: 0;
  border-top: 1px solid transparent;
  background: 0 0;
  box-sizing: border-box;
}

.sidebar .single_sidebar_tittle a::before {
  position: absolute;
  background: #2e4765;
  width: 0;
  top: 0;
  bottom: 0;
  content: '';
  opacity: 0;
  transition: .3s;
  right: 0;
  visibility: hidden
}

.sidebar .single_sidebar_tittle a.current_active i {
  color: #2e4765
}

.sidebar .single_sidebar_tittle a.current_active::before {
  opacity: 1;
  width: 3px;
  visibility: visible
}

.sidebar .single_sidebar_tittle a:hover::before {
  opacity: 1;
  right: 0;
  visibility: visible;
  width: 3px
}

.sidebar .single_sidebar_tittle a.normal_title {
  padding: 28px 25px 18px 40px;
  background: white7f8;
  border-top: 1px solid #eee1e2
}

.sidebar .single_sidebar_tittle a.normal_title:after {
  position: absolute;
  right: 40px;
  top: 55%;
  transform: translateY(-50%);
  content: "\f0d8";
  font-family: "font awesome 5 free";
  color: #cec1c2;
  font-weight: 600;
  font-size: 14px
}

.sidebar .single_sidebar_tittle a.normal_title.collapsed {
  padding: 10px 25px 10px 40px;
  background: white;
  border-top: 1px solid transparent
}

.sidebar .single_sidebar_tittle a.normal_title.collapsed:after {
  position: absolute;
  right: 40px;
  top: 50%;
  transform: translateY(-50%);
  content: "\f0d7";
  font-family: "font awesome 5 free";
  color: #cec1c2;
  font-weight: 600;
  font-size: 14px
}

.sidebar .single_sidebar_tittle:hover {
  background-color: #192434
}

.sidebar .single_sidebar_tittle:hover i {
  color: #2e4765
}

.sidebar .single_menu_item {
  padding-left: 36px;
  margin: 6px 0;
  line-height: 21px
}

.sidebar .single_menu_item:hover {
  padding-left: 55px
}

.sidebar .sidebar_iner ul li {
  list-style: none
}

.sidebar .sidebar_iner ul li .submenu {
  background: white7f8;
  padding: 0 0 0 70px;
  border-bottom: 1px solid #eee1e2
}

.sidebar .sidebar_iner ul li .submenu li a {
  font-size: 13px;
  line-height: 36px;
  color: #7e7172;
  font-weight: 400
}

.sidebar .sidebar_iner ul li .submenu li:last-child {
  padding-bottom: 18px
}

@media(max-width:991px) {
  .active_sidebar {
    left: 0;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .2)
  }
}

.sidebar_close_icon i {
  width: 40px;
  height: 40px;
  display: inline-block;
  text-align: center;
  line-height: 40px;
  position: absolute;
  right: 30px;
  font-size: 25px;
  top: 29px;
  cursor: pointer;
  color: #222
}

.sidebar_widget .white_box {
  padding: 30px
}

@media(max-width:991px) {
  .sidebar_widget .white_box {
    padding: 25px 15px
  }
}

@media only screen and (min-width:1200px) and (max-width:1439px) {
  .sidebar_widget .white_box {
    padding: 15px
  }
}

@media only screen and (min-width:1440px) and (max-width:1679px) {
  .sidebar_widget .white_box {
    padding: 25px 15px
  }
}

.sidebar_widget .white_box .btn_2 {
  margin-top: 25px;
  width: 100%;
  text-align: center;
  padding: 16px 25px;
  box-sizing: border-box;
}

@media only screen and (min-width:992px) and (max-width:1200px) {
  .sidebar_widget .white_box .btn_2 {
    padding: 12px 7px
  }
}

@media only screen and (min-width:1200px) and (max-width:1439px) {
  .sidebar_widget .white_box .btn_1 {
    padding: 8px 10px;
    font-size: 11px
  }
}

.sidebar_widget .date_range {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 6px 0 18px
}

.sidebar_widget .date_range .btn_3 {
  border-radius: 5px;
  font-size: 13px;
  font-weight: 300
}

.sidebar_widget .date_range i {
  display: none
}

.sidebar_widget .date_range .start_date,
.sidebar_widget .date_range .end_date {
  width: 115px
}

.sidebar_widget .date_range .start_date input,
.sidebar_widget .date_range .end_date input {
  width: 100%;
  border: 1px solid #e4e8ec;
  color: #7e7172;
  font-size: 13px;
  padding: 11px 20px;
  border-radius: 5px;
  font-weight: 300;
  box-sizing: border-box;
}

.sidebar_widget .date_range .start_date ::placeholder,
.sidebar_widget .date_range .end_date ::placeholder {
  color: #7e7172
}

.sidebar #sidebar_menu li.side_menu_title span {
  font-size: 20px;
  font-weight: 700;
  color: #2daab8;
  font-family: rajdhani, sans-serif;
  padding: 15px 25px 5px 30px;
  display: block
}

.sidebar #sidebar_menu li a {
  font-size: 16px;
  font-weight: 400;
  color: #676b84;
  padding: 15px 25px 15px 30px;
  background: white;
  transition: .3s;
  z-index: 0;
  display: grid;
  grid-template-columns: 26px auto;
  grid-gap: 15px;
  align-items: center;
  position: relative;
  background: 0 0
}

@media only screen and (min-width:992px) and (max-width:1200px) {
  .sidebar #sidebar_menu li a {
    padding: 18px 25px 18px 30px
  }
}

.sidebar #sidebar_menu li a i {
  font-size: 15px;
  margin-right: 12px;
  color: #a5adc6;
  transition: .5s
}

.sidebar #sidebar_menu li a:hover::before {
  width: 6px;
  opacity: 1;
  visibility: visible
}

.sidebar #sidebar_menu li.mm-active>a {
  color: #16bbe5
}

.sidebar #sidebar_menu li.mm-active.metis_dropmenu>a {
  padding-top: 29px;
  padding-bottom: 30px;
  color: #a5adc6
}

.sidebar #sidebar_menu li.mm-active>a i {
  color: #a5adc6
}

.sidebar #sidebar_menu li.mm-active>a::before {
  opacity: 1;
  width: 6px;
  visibility: visible
}

.sidebar #sidebar_menu li ul {
  padding: 0 0 0 70px
}

@media only screen and (min-width:992px) and (max-width:1200px) {
  .sidebar #sidebar_menu li ul {
    padding: 0 0 0 55px
  }
}

.sidebar #sidebar_menu li ul li:last-child a {
  padding-bottom: 30px
}

.sidebar #sidebar_menu li ul li a {
  font-size: 13px;
  color: #676b84;
  font-weight: 400;
  white-space: nowrap;
  padding: 10px 0
}

.sidebar #sidebar_menu li ul li a::before {
  display: none
}

.sidebar #sidebar_menu li ul li a.active {
  color: #16bbe5
}

.sidebar #sidebar_menu li ul li ul {
  padding-left: 5px
}

.email-sidebar {
  background: white;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
  position: relative;
  z-index: 6;
  height: calc(100% - 3.9375rem)
}

.email-sidebar h4 {
  font-weight: 600;
  font-size: .875rem;
  color: #333;
  padding: 2.5rem 0 3.125rem 1.5625rem
}

.email-sidebar ul {
  margin-bottom: 3.125rem
}

.email-sidebar ul li {
  display: block
}

.email-sidebar ul li.active {
  background: #2daab8;
  box-shadow: 0 .625rem 1.875rem 0 rgba(45, 170, 184, .3);
  color: white !important
}

.email-sidebar ul li.active a {
  color: white
}

.email-sidebar ul li a {
  display: block;
  padding: .625rem .625rem .625rem 1.5rem;
  transition: all .5s ease-in-out;
  font-weight: 600;
  font-size: .875rem;
  color: #333
}

.email-sidebar ul li a:hover {
  background: #2daab8;
  box-shadow: 0 .625rem 1.875rem 0 rgba(22, 187, 229, .3);
  color: white !important
}

.email-sidebar ul li a i {
  margin-right: .7rem
}

.sidebar_icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: auto;
  left: 20px
}

@media(max-width: 575.98px) {
  .sidebar_icon {
    right: auto;
    left: 20px
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .sidebar_icon {
    right: auto;
    left: 20px
  }
}

.sidebar_icon i {
  font-size: 20px
}

@media(max-width:991px) {
  .sidebar_widget {
    margin-top: 30px
  }
}

@media only screen and (min-width:768px) and (max-width:991px) {
  .sidebar_widget {
    margin-top: 0
  }
}
