.gj-picker-md {
  border: 1px solid #fef1f2;
  padding: 10px;
}

.gj-picker-md table tr td.today div {
  color: white;
  background: #16bbe5;
  border-radius: 50%;
}

.gj-picker-md table tr td.gj-cursor-pointer div:hover {
  border-radius: 50%;
  background: #16bbe5;
  color: white;
}

.gj-picker-md div[role="navigator"] div:first-child,
.gj-picker-md div[role="navigator"] div:last-child {
  max-width: 42px;
  background: #fef1f2;
  color: #000;
  border-radius: 50%;
  font-size: 14px;
  line-height: 44px;
  height: 42px;
  font-weight: 900;
}

.gj-picker-md div[role="navigator"] div:first-child i,
.gj-picker-md div[role="navigator"] div:last-child i {
  font-weight: 900;
  font-size: 14px;
}
