.common_list_style li {
  font-size: 13px;
  font-weight: 300;
  color: #7e7172;
  line-height: 26px;
  position: relative;
  padding-left: 15px;
}

.common_list_style li:before {
  position: absolute;
  left: 0;
  top: 10px;
  width: 3px;
  height: 3px;
  background: #7e7172;
  content: "";
  border-radius: 50%;
}

.list_header_btn_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-right: 60px;
}

@media (max-width: 575.98px) {
  .list_header_btn_wrapper {
    display: block;
    margin-bottom: 15px;
    margin-right: 0;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .list_header_btn_wrapper {
    margin-right: 0;
    margin-bottom: 15px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .list_header_btn_wrapper {
    margin-right: 0;
    display: block;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .list_header_btn_wrapper {
    margin-right: 0;
    display: block;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1439px) {
  .list_header_btn_wrapper {
    margin-right: 30px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .list_header_block {
    display: block;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .list_header_block .success_faild_btn {
    margin-top: 15px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1439px) {
  .list_header_block .serach_field_2 {
    width: 300px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .list_header_block .serach_field_2 {
    width: 380%;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .list_header_block .box_right {
    justify-content: space-between;
  }
}

.list_header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  align-items: center;
}

@media (max-width: 575.98px) {
  .list_header {
    display: block;
  }
}

.list_header p {
  color: #222;
  font-weight: 500;
}

.list_header .nice_Select {
  margin-left: 15px;
}

@media (max-width: 575.98px) {
  .list_header .nice_Select {
    margin-left: 10px;
  }
}

.list_header .list_header_filter {
  display: flex;
  align-items: center;
}

@media (max-width: 575.98px) {
  .list_header .list_header_filter {
    margin-top: 15px;
  }
}

.list_header .list_header_filter img {
  width: 17px;
  margin-right: 8px;
}

.assign_list li {
  display: inline-block;
  margin-right: 5px;
}

.assign_list li:last-child {
  margin-right: 0;
}

.assign_list li a img {
  width: 100%;
  border-radius: 50%;
  -webkit-transition: .2s;
  -moz-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  width: 23px;
  height: 23px;
  transform: translateY(0px);
}

.assign_list li a img:hover {
  transform: translateY(-2px);
}

.student_list_img img {
  width: 50px;
  height: 50px;
}

.discription_list_wrap p {
  font-size: 13px;
  font-weight: 300;
  color: #7e7172;
  line-height: 26px;
  margin-bottom: 17px;
}

.discription_list_wrap h5 {
  font-size: 12px;
  font-weight: 400;
  color: #222;
  margin-top: 19px;
  margin-bottom: 14px;
}
