.messages_box_area {
  display: grid;
  grid-template-columns: 4fr 8fr;
  grid-gap: 30px;
}

@media (max-width: 575.98px) {
  .messages_box_area {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 991px) {
  .messages_box_area {
    grid-template-columns: 1fr;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .messages_box_area {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 1200px) and (max-width: 1500px) {
  .messages_box_area {
    grid-template-columns: 6fr 6fr;
  }
}

@media only screen and (min-width: 1440px) and (max-width: 1679px) {
  .messages_box_area {
    grid-template-columns: 5fr 7fr;
  }
}

.messages_box_area .messages_list .serach_field_2 {
  width: 100%;
}

.messages_box_area .messages_list ul {
  margin-top: 30px;
  margin-bottom: 30px;
}

.messages_box_area .messages_list ul li a {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: 1px solid #eee1e2;
  padding: 20px 0;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.messages_box_area .messages_list ul li a .message_pre_left {
  display: flex;
  align-items: center;
}

.messages_box_area
  .messages_list
  ul
  li
  a
  .message_pre_left
  .message_preview_thumb
  img {
  width: 50px;
  height: 50px;
}

.messages_box_area .messages_list ul li a .message_pre_left .messges_info {
  padding-left: 20px;
}

.messages_box_area .messages_list ul li a .message_pre_left h4 {
  font-size: 14px;
  font-weight: 500;
  color: #222;
  margin-bottom: 6px;
}

.messages_box_area .messages_list ul li a .message_pre_left p {
  font-size: 13px;
  font-weight: 300;
  color: #676b84;
  margin-bottom: 0;
}

.messages_box_area .messages_list ul li a .messge_time span {
  font-size: 12px;
  font-weight: 300;
  color: #cec1c2;
  white-space: nowrap;
}

.messages_box_area .messages_list ul li:hover a {
  padding-left: 10px;
  padding-right: 10px;
  background: rgba(255, 247, 248, 0.6);
}

.messages_box_area .messages_chat .messge_time span {
  white-space: nowrap;
}

.messages_box_area .messages_chat .single_message_chat {
  margin-bottom: 50px;
  padding-right: 20%;
}

@media (max-width: 575.98px) {
  .messages_box_area .messages_chat .single_message_chat {
    padding-right: 0%;
    margin-bottom: 30px;
  }
}

@media (max-width: 991px) {
  .messages_box_area .messages_chat .single_message_chat {
    padding-right: 0%;
    margin-bottom: 30px;
  }
}

@media (min-width: 1200px) and (max-width: 1500px) {
  .messages_box_area .messages_chat .single_message_chat {
    padding-right: 0%;
    margin-bottom: 30px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .messages_box_area .messages_chat .single_message_chat {
    padding-right: 0%;
    margin-bottom: 30px;
  }
}

.messages_box_area .messages_chat .single_message_chat .message_content_view {
  background: white7f8;
  border-radius: 10px;
  padding: 30px;
}

.messages_box_area
  .messages_chat
  .single_message_chat
  .message_content_view.red_border {
  border: 1px solid #2daab8;
}

.messages_box_area
  .messages_chat
  .single_message_chat
  .message_content_view
  span {
  display: block;
  margin: 17px 0;
}

.messages_box_area .messages_chat .single_message_chat .message_content_view p {
  font-size: 13px;
  font-weight: 300;
  color: #676b84;
  line-height: 26px;
}

.messages_box_area .messages_chat .single_message_chat .message_pre_left {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.messages_box_area
  .messages_chat
  .single_message_chat
  .message_pre_left
  .message_preview_thumb
  img {
  width: 50px;
  height: 50px;
}

.messages_box_area
  .messages_chat
  .single_message_chat
  .message_pre_left
  .messges_info {
  padding-left: 20px;
}

.messages_box_area .messages_chat .single_message_chat .message_pre_left h4 {
  font-size: 16px;
  font-weight: 500;
  color: #222;
  margin-bottom: 2px;
}

.messages_box_area .messages_chat .single_message_chat .message_pre_left p {
  font-size: 12px;
  font-weight: 300;
  color: #676b84;
  margin-bottom: 0;
}

.messages_box_area .messages_chat .single_message_chat.sender_message {
  padding-right: 0%;
  padding-left: 20%;
}

@media (max-width: 575.98px) {
  .messages_box_area .messages_chat .single_message_chat.sender_message {
    padding-right: 0%;
    padding-left: 0%;
    margin-bottom: 30px;
  }
}

@media (max-width: 991px) {
  .messages_box_area .messages_chat .single_message_chat.sender_message {
    padding-right: 0%;
    padding-left: 0%;
    margin-bottom: 30px;
  }
}

@media (min-width: 1200px) and (max-width: 1500px) {
  .messages_box_area .messages_chat .single_message_chat.sender_message {
    padding-right: 0%;
    padding-left: 0%;
    margin-bottom: 30px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .messages_box_area .messages_chat .single_message_chat.sender_message {
    padding-right: 0%;
    padding-left: 0%;
    margin-bottom: 30px;
  }
}

.messages_box_area
  .messages_chat
  .single_message_chat.sender_message
  .message_pre_left {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.messages_box_area
  .messages_chat
  .single_message_chat.sender_message
  .messges_info {
  padding-left: 0;
  padding-right: 20px;
  text-align: right;
}

.messages_box_area .messages_chat .message_send_field {
  padding-top: 50px;
  display: grid;
  grid-template-columns: auto 110px;
  grid-gap: 10px;
}

@media (max-width: 575.98px) {
  .messages_box_area .messages_chat .message_send_field {
    grid-template-columns: 1fr;
    margin-top: 20px;
  }
}

.messages_box_area .messages_chat .message_send_field input {
  color: #676b84;
  font-size: 13px;
  height: 40px;
  width: 100%;
  border-radius: 5px;
  padding-left: 25px;
  border: 1px solid #eee1e2;
  padding-right: 15px;
}

.messages_box_area .messages_chat .message_send_field input::placeholder {
  color: #676b84;
  font-weight: 300;
  opacity: 1;
}

.message_submit_form:focus {
  outline: none;
}
