.staf_list_wrapper .single_staf {
  background: white;
  box-shadow: 0 7px 15px rgba(80, 143, 244, 0.15);
  text-align: center;
  padding: 50px 0;
  margin-bottom: 30px;
  margin-top: 30px;
}

.staf_list_wrapper .single_staf .staf_thumb {
  margin-bottom: 25px;
}

.staf_list_wrapper .single_staf .staf_thumb img {
  margin: auto;
  width: 118px;
  height: 118px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.staf_list_wrapper .single_staf h4 {
  font-size: 22px;
  font-weight: 600;
  color: #2e4765;
  margin-bottom: 3px;
}

.staf_list_wrapper .single_staf p {
  font-size: 14px;
  color: #818e94;
  font-weight: 500;
}
