.btn_1 {
  background-color: #2DAAB8;
  border: 1px solid #2DAAB8;
  color: #fff;
  display: inline-block;
  padding: 11px 23px;
  text-transform: capitalize;
  line-height: 16px;
  font-size: 13px;
  font-weight: 500;
  border-radius: 5px;
  white-space: nowrap;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/* line 15, H:/admin_project/hospital/scss/_button.scss */
.btn_1 i {
  font-size: 15px;
  padding-right: 7px;
}

/* line 19, H:/admin_project/hospital/scss/_button.scss */
.btn_1:hover {
  background-color: #fff;
  border: 1px solid #313f5a;
  color: #2DAAB8;
}

/* line 24, H:/admin_project/hospital/scss/_button.scss */
.btn_1.light {
  background-color: rgba(46, 71, 101, 0.1);
  border: 1px solid transparent;
  color: #2E4765;
}

/* line 29, H:/admin_project/hospital/scss/_button.scss */
.btn_1.green {
  background-color: rgba(46, 201, 184, 0.1);
  border: 1px solid transparent;
  color: #2EC9B8;
}

/* line 34, H:/admin_project/hospital/scss/_button.scss */
.btn_1.sm {
  font-size: 12px;
  padding: 6px 15px;
}

/* line 38, H:/admin_project/hospital/scss/_button.scss */
.btn_1.big_btn {
  padding: 11px 36px;
}

/* line 41, H:/admin_project/hospital/scss/_button.scss */
.btn_1.form_big_btn_1 {
  padding: 16px 62px !important;
}

@media (max-width: 575.98px) {
  /* line 41, H:/admin_project/hospital/scss/_button.scss */
  .btn_1.form_big_btn_1 {
    padding: 16px 30px !important;
  }
}

/* line 47, H:/admin_project/hospital/scss/_button.scss */
.btn_1.big_btn2 {
  padding: 11px 37px;
}

/* line 51, H:/admin_project/hospital/scss/_button.scss */
.btn_2 {
  color: #2E4765;
  border: 1px solid #2E4765;
  display: inline-block;
  padding: 11px 23px;
  text-transform: capitalize;
  line-height: 16px;
  font-size: 13px;
  font-weight: 500;
  border-radius: 5px;
  background-color: #fff;
  white-space: nowrap;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/* line 64, H:/admin_project/hospital/scss/_button.scss */
.btn_2:hover {
  background-color: #2E4765;
  border: 1px solid #2E4765;
  color: #fff;
}

/* line 70, H:/admin_project/hospital/scss/_button.scss */
.btn_3 {
  color: #222222;
  border: 1px solid #e4e8ec;
  display: inline-block;
  padding: 11px 27px;
  text-transform: capitalize;
  line-height: 16px;
  font-size: 13px;
  font-weight: 500;
  border-radius: 5px;
  background-color: #fff;
  white-space: nowrap;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/* line 83, H:/admin_project/hospital/scss/_button.scss */
.btn_3.border_color_1 {
  border: 1px solid #eee1e2;
}

/* line 87, H:/admin_project/hospital/scss/_button.scss */
.btn_3:hover {
  background-color: #2E4765;
  border: 1px solid #2E4765;
  color: #fff;
}

/* line 93, H:/admin_project/hospital/scss/_button.scss */
.btn_4 {
  display: inline-block;
  border: 1px solid #e4e8ec;
  border-radius: 5px;
  color: #7e7172;
  text-align: center;
  padding: 9px 15px;
  line-height: 20px;
  font-size: 13px;
  font-weight: 300;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/* line 104, H:/admin_project/hospital/scss/_button.scss */
.btn_4:hover {
  background-color: #2E4765;
  border: 1px solid #2E4765;
  color: #fff;
}

/* line 111, H:/admin_project/hospital/scss/_button.scss */
.btn_5 {
  border: 1px solid #fff;
  display: inline-block;
  padding: 16px 26px !important;
  text-transform: capitalize;
  line-height: 16px;
  font-size: 13px;
  font-weight: 500;
  border-radius: 5px;
  background-color: #fff;
  white-space: nowrap;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background: #fff !important;
  text-shadow: none !important;
  opacity: 1;
  color: #222222;
}

/* line 127, H:/admin_project/hospital/scss/_button.scss */
.btn_5:hover {
  background-color: #2E4765 !important;
  border: 1px solid #2E4765 !important;
  color: #fff;
  opacity: 1 !important;
}

/* line 133, H:/admin_project/hospital/scss/_button.scss */
.btn_5.small_btn {
  padding: 11px 26px !important;
}

@media (max-width: 575.98px) {
  /* line 133, H:/admin_project/hospital/scss/_button.scss */
  .btn_5.small_btn {
    padding: 11px 19px !important;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* line 133, H:/admin_project/hospital/scss/_button.scss */
  .btn_5.small_btn {
    padding: 11px 19px !important;
  }
}

/* line 143, H:/admin_project/hospital/scss/_button.scss */
.btn_6 {
  color: #222222;
  border: 1px solid #eee1e2;
  display: inline-block;
  padding: 11px 25px;
  text-transform: capitalize;
  line-height: 16px;
  font-size: 13px;
  font-weight: 500;
  border-radius: 5px;
  background-color: #fff;
  white-space: nowrap;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/* line 156, H:/admin_project/hospital/scss/_button.scss */
.btn_6:hover {
  background-color: #2E4765;
  border: 1px solid #2E4765;
  color: #fff;
}

/* line 162, H:/admin_project/hospital/scss/_button.scss */
.sm_btn {
  line-height: 15px;
  background-color: #fff;
  height: 34px;
  padding: 9px 20px;
  color: #212e40;
  width: 150px;
  text-transform: capitalize;
  border: 1px solid #eee1e2;
}

/* line 172, H:/admin_project/hospital/scss/_button.scss */
.view_archive_btn {
  border: 1px solid #e4e8ec;
  color: #7e7172;
  padding: 16px 30px;
  display: inline-block;
  width: 100%;
  text-align: center;
  line-height: 16px;
  background-color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/* line 182, H:/admin_project/hospital/scss/_button.scss */
.view_archive_btn i {
  margin-right: 15px;
}

/* line 185, H:/admin_project/hospital/scss/_button.scss */
.view_archive_btn:hover {
  color: #2E4765;
  border: 1px solid #2E4765;
}

/* line 191, H:/admin_project/hospital/scss/_button.scss */
.white_btn {
  display: inline-block;
  color: #7e7172;
  font-size: 12px;
  font-weight: 400;
  background: #fff;
  transition: .3s;
  padding: 6px 20px;
  border-radius: 3px;
}

/* line 200, H:/admin_project/hospital/scss/_button.scss */
.white_btn:hover {
  background: #2DAAB8;
  color: #fff;
}

/* line 206, H:/admin_project/hospital/scss/_button.scss */
.red_btn {
  display: inline-block;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  background: #2DAAB8;
  transition: .3s;
  padding: 6px 20px;
  border-radius: 3px;
}

/* line 215, H:/admin_project/hospital/scss/_button.scss */
.red_btn:hover {
  background: #fff;
  color: #7e7172;
}

/* line 220, H:/admin_project/hospital/scss/_button.scss */
.close.white_btn2 {
  border: 1px solid #fff;
  display: inline-block;
  padding: 16px 26px !important;
  text-transform: capitalize;
  line-height: 16px;
  font-size: 13px;
  font-weight: 500;
  border-radius: 5px;
  background-color: #fff;
  white-space: nowrap;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background: #fff !important;
  text-shadow: none !important;
  opacity: 1;
  color: #222222;
  margin-right: 10px;
}

/* line 237, H:/admin_project/hospital/scss/_button.scss */
.close.white_btn2:hover {
  background-color: #2E4765 !important;
  border: 1px solid #2E4765 !important;
  color: #fff;
  opacity: 1 !important;
}

/* line 244, H:/admin_project/hospital/scss/_button.scss */
.white_btn3 {
  border: 1px solid #fff;
  display: inline-block;
  padding: 11px 30px !important;
  text-transform: capitalize;
  line-height: 16px;
  font-size: 13px;
  font-weight: 500;
  border-radius: 5px;
  background-color: #fff;
  white-space: nowrap;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background: #fff !important;
  text-shadow: none !important;
  opacity: 1;
  color: #222222;
  margin-right: 10px;
}

/* line 261, H:/admin_project/hospital/scss/_button.scss */
.white_btn3:hover {
  background-color: #2E4765 !important;
  border: 1px solid #2E4765 !important;
  color: #fff;
  opacity: 1 !important;
}

/* line 269, H:/admin_project/hospital/scss/_button.scss */
.status_btn {
  display: inline-block;
  padding: 2px 15px;
  font-size: 11px;
  font-weight: 300;
  color: #fff !important;
  background: #05d34e;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  text-transform: capitalize;
  white-space: nowrap;
  min-width: 70px;
  text-align: center;
}

/* line 281, H:/admin_project/hospital/scss/_button.scss */
.status_btn.yellow_btn {
  background: #ffba00;
}

/* line 284, H:/admin_project/hospital/scss/_button.scss */
.status_btn:hover {
  color: #fff;
}

/* line 289, H:/admin_project/hospital/scss/_button.scss */
.dropdown .dropdown-toggle.lms_drop_1 {
  background: #fff;
  padding: 4px 15px;
  border-radius: 3px;
  font-size: 12px;
  font-weight: 300;
  text-transform: capitalize;
  text-align: left;
  color: #7e7172;
  display: inline-block;
  width: 102px;
  border: 0;
  border: 1px solid #eee1e2;
  position: relative;
  transition: .3s;
}

/* line 304, H:/admin_project/hospital/scss/_button.scss */
.dropdown .dropdown-toggle.lms_drop_1::after {
  content: "\f0d7";
  font-family: "Font Awesome 5 Free";
  position: absolute;
  right: 0;
  top: 12px;
  color: #cec1c2;
  font-size: 12px;
  font-weight: 900;
  margin: 0;
  padding: 0;
  border: 0;
  border: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 14px;
}

/* line 321, H:/admin_project/hospital/scss/_button.scss */
.dropdown .dropdown-toggle.lms_drop_1.lms_drop_2 {
  min-width: 140px;
}

/* line 326, H:/admin_project/hospital/scss/_button.scss */
.dropdown.show .dropdown-toggle.lms_drop_1 {
  background: #2DAAB8;
  padding: 4px 15px;
  border-radius: 3px;
  font-size: 12px;
  font-weight: 300;
  text-transform: capitalize;
  text-align: left;
  color: #7e7172;
  display: inline-block;
  width: 102px;
  border: 0;
  color: #fff;
  border: 1px solid #2DAAB8;
}

/* line 340, H:/admin_project/hospital/scss/_button.scss */
.dropdown.show .dropdown-toggle.lms_drop_1::after {
  content: "\f0d8";
}

/* line 345, H:/admin_project/hospital/scss/_button.scss */
.dropdown .dropdown-menu {
  border: 0;
  border: 1px solid #eee1e2;
  padding: 12px 0 20px 0;
  margin: 0;
  border-radius: 0 !important;
}

/* line 351, H:/admin_project/hospital/scss/_button.scss */
.dropdown .dropdown-menu .dropdown-item {
  font-size: 12px;
  font-weight: 300;
  padding: 4px 20px;
  color: #7f7778;
}

/* line 356, H:/admin_project/hospital/scss/_button.scss */
.dropdown .dropdown-menu .dropdown-item:hover {
  color: #2DAAB8;
  background: transparent;
}

/* line 361, H:/admin_project/hospital/scss/_button.scss */
.dropdown .dropdown-menu.dropdown-menu-w140 {
  min-width: 140px;
}

/* line 366, H:/admin_project/hospital/scss/_button.scss */
.white_btn_line {
  white-space: nowrap;
  height: 50px;
  background: transparent;
  margin-left: 10px;
  font-size: 13px;
  font-weight: 500;
  text-transform: capitalize;
  border: 0;
  padding: 0 19px;
  border-radius: 3px;
  border: 1px solid #eee1e2;
  color: #7e7172;
  transition: .3s;
}

/* line 380, H:/admin_project/hospital/scss/_button.scss */
.white_btn_line i {
  font-size: 13px;
  color: #7e7172;
  margin-right: 6px;
}

/* line 385, H:/admin_project/hospital/scss/_button.scss */
.white_btn_line:hover {
  background: #2DAAB8;
  color: #fff;
  border: 1px solid #2DAAB8;
}

/* line 389, H:/admin_project/hospital/scss/_button.scss */
.white_btn_line:hover i {
  color: #fff;
  transition: .3s;
}

/* line 395, H:/admin_project/hospital/scss/_button.scss */
.white_btn_line2 {
  white-space: nowrap;
  height: 30px;
  background: transparent;
  font-size: 12px;
  font-weight: 300;
  display: inline-block;
  text-transform: capitalize;
  border: 0;
  border: 1px solid #eee1e2;
  color: #7e7172;
  transition: .3s;
  border-radius: 30px;
  line-height: 28px;
  padding: 0 18px;
}

/* line 410, H:/admin_project/hospital/scss/_button.scss */
.white_btn_line2:hover {
  background: #2DAAB8;
  color: #fff !important;
  border: 1px solid #2DAAB8;
}

/* line 414, H:/admin_project/hospital/scss/_button.scss */
.white_btn_line2:hover i {
  color: #fff;
  transition: .3s;
}

/* line 422, H:/admin_project/hospital/scss/_button.scss */
table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > td:first-child::before,
table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > th:first-child::before {
  z-index: 9;
  top: 50%;
  transform: translateY(-50%);
  content: "\e61a";
  font-family: 'themify';
  font-size: 8px;
  line-height: 14px;
  font-weight: 600;
  background-color: #fef1f2;
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.08), -6px -6px 12px white;
}

/* line 438, H:/admin_project/hospital/scss/_button.scss */
table.dataTable.dtr-inline.collapsed > tbody > tr.parent > td:first-child::before,
table.dataTable.dtr-inline.collapsed > tbody > tr.parent > th:first-child::before {
  content: "\e622";
  box-shadow: inset 6px 6px 12px rgba(0, 0, 0, 0.08), inset -6px -6px 12px white;
}

/* line 452, H:/admin_project/hospital/scss/_button.scss */
.CRM_dropdown.dropdown .dropdown-toggle {
  background: transparent;
  color: #415094;
  font-size: 13px;
  font-weight: 500;
  border: 1px solid #7c32ff;
  border-radius: 32px;
  padding: 5px 20px;
  text-transform: uppercase;
  overflow: hidden;
  transition: .3s;
}

/* line 463, H:/admin_project/hospital/scss/_button.scss */
.CRM_dropdown.dropdown .dropdown-toggle:after {
  content: "\e62a";
  font-family: "themify";
  border: none;
  border-top-color: currentcolor;
  border-top-style: none;
  border-top-width: medium;
  border-top: 0px;
  font-size: 10px;
  position: relative;
  top: 3px;
  left: 0;
  font-weight: 600;
  transition: .3s;
}

/* line 478, H:/admin_project/hospital/scss/_button.scss */
.CRM_dropdown.dropdown .dropdown-toggle:hover, .CRM_dropdown.dropdown .dropdown-toggle:focus {
  color: #fff;
  border: 1px solid transparent;
  box-shadow: none;
}

/* line 493, H:/admin_project/hospital/scss/_button.scss */
.CRM_dropdown.dropdown .dropdown-menu {
  border-radius: 5px 5px 10px 10px;
  border: 0px;
  padding: 15px 0px;
  box-shadow: 0px 10px 20px rgba(108, 39, 255, 0.3);
}

/* line 498, H:/admin_project/hospital/scss/_button.scss */
.CRM_dropdown.dropdown .dropdown-menu .dropdown-item {
  color: #828bb2;
  text-align: right;
  font-size: 12px;
  padding: 4px 1.5rem;
  text-transform: uppercase;
  cursor: pointer;
}

/* line 505, H:/admin_project/hospital/scss/_button.scss */
.CRM_dropdown.dropdown .dropdown-menu .dropdown-item:hover {
  color: #2E4765;
}

/* line 512, H:/admin_project/hospital/scss/_button.scss */
.dropdown-menu.option_width_8 {
  min-width: 150px;
}
