/* line 1, H:/admin_project/hospital/scss/_chart_box.scss */
.widget-chart {
  text-align: center;
  padding: 1rem;
  position: relative;
}

/* line 5, H:/admin_project/hospital/scss/_chart_box.scss */
.widget-chart .rounded {
  border-radius: .25rem !important;
}

/* line 8, H:/admin_project/hospital/scss/_chart_box.scss */
.widget-chart .icon-wrapper {
  width: 54px;
  height: 54px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

/* line 14, H:/admin_project/hospital/scss/_chart_box.scss */
.widget-chart .icon-wrapper .icon-wrapper-bg {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 3;
  opacity: 0.2;
}

/* line 21, H:/admin_project/hospital/scss/_chart_box.scss */
.widget-chart .icon-wrapper i {
  margin: 0 auto;
  font-size: 1.7rem;
  position: relative;
  z-index: 5;
  line-height: 54px;
}

/* line 30, H:/admin_project/hospital/scss/_chart_box.scss */
.widget-chart .widget-numbers {
  font-weight: bold;
  font-size: 2.5rem;
  display: block;
  line-height: 1;
  margin: 1rem auto;
}

/* line 36, H:/admin_project/hospital/scss/_chart_box.scss */
.widget-chart .widget-numbers span {
  font-weight: bold;
  font-size: 2.5rem;
}

/* line 41, H:/admin_project/hospital/scss/_chart_box.scss */
.widget-chart .widget-subheading {
  margin-top: -.5rem;
}

/* line 44, H:/admin_project/hospital/scss/_chart_box.scss */
.widget-chart .widget-description {
  margin: 1rem 0 0;
}

/* line 49, H:/admin_project/hospital/scss/_chart_box.scss */
.bg-light {
  background-color: #eee !important;
}

/* line 52, H:/admin_project/hospital/scss/_chart_box.scss */
.icon-wrapper .icon-wrapper-bg.bg-light {
  opacity: 0.08;
}

/* line 55, H:/admin_project/hospital/scss/_chart_box.scss */
.bg-focus {
  background-color: #444054 !important;
}

/* line 58, H:/admin_project/hospital/scss/_chart_box.scss */
.bg-primary {
  background-color: #3f6ad8 !important;
}
