/* line 2, H:/admin_project/hospital/scss/_dashboard_part.scss */
.dashboard_part .notification_tab {
  padding: 27px 25px;
  background-color: #f5ecec;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/* line 10, H:/admin_project/hospital/scss/_dashboard_part.scss */
.dashboard_part .notification_tab p {
  font-size: 16px;
  color: #222222;
}

/* line 13, H:/admin_project/hospital/scss/_dashboard_part.scss */
.dashboard_part .notification_tab p a {
  color: #2e4765;
}

/* line 18, H:/admin_project/hospital/scss/_dashboard_part.scss */
.dashboard_part .hide_icon {
  cursor: pointer;
}

/* line 20, H:/admin_project/hospital/scss/_dashboard_part.scss */
.dashboard_part .hide_icon i {
  color: #2e4765;
  font-size: 10px;
}

/* line 26, H:/admin_project/hospital/scss/_dashboard_part.scss */
.white_box {
  padding: 30px;
  background-color: #ffffff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

@media (max-width: 575.98px) {
  /* line 26, H:/admin_project/hospital/scss/_dashboard_part.scss */
  .white_box {
    padding: 30px 25px;
  }
}

/* line 34, H:/admin_project/hospital/scss/_dashboard_part.scss */
.white_box .white_box_tittle h4 {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 0;
}

@media (max-width: 991px) {
  /* line 34, H:/admin_project/hospital/scss/_dashboard_part.scss */
  .white_box .white_box_tittle h4 {
    margin-bottom: 15px;
  }
}

/* line 44, H:/admin_project/hospital/scss/_dashboard_part.scss */
.white_box2 {
  padding: 40px 40px 25px 40px;
  background-color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

@media (max-width: 575.98px) {
  /* line 44, H:/admin_project/hospital/scss/_dashboard_part.scss */
  .white_box2 {
    padding: 30px 25px;
  }
}

/* line 52, H:/admin_project/hospital/scss/_dashboard_part.scss */
.white_box2 .white_box_tittle h4 {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 0;
}

@media (max-width: 991px) {
  /* line 52, H:/admin_project/hospital/scss/_dashboard_part.scss */
  .white_box2 .white_box_tittle h4 {
    margin-bottom: 15px;
  }
}

/* line 63, H:/admin_project/hospital/scss/_dashboard_part.scss */
.chart_box .white_box_tittle {
  margin-bottom: 20px;
}

/* line 65, H:/admin_project/hospital/scss/_dashboard_part.scss */
.chart_box .white_box_tittle h4 {
  margin-bottom: 2px;
}

@media (max-width: 991px) {
  /* line 65, H:/admin_project/hospital/scss/_dashboard_part.scss */
  .chart_box .white_box_tittle h4 {
    margin-bottom: 15px;
  }
}

/* line 72, H:/admin_project/hospital/scss/_dashboard_part.scss */
.chart_box p {
  margin-bottom: 29px;
  color: #707070;
}

/* line 79, H:/admin_project/hospital/scss/_dashboard_part.scss */
.chart_box label {
  margin-bottom: 0;
}

/* line 82, H:/admin_project/hospital/scss/_dashboard_part.scss */
.chart_box .b {
  display: block !important;
}

/* line 85, H:/admin_project/hospital/scss/_dashboard_part.scss */
.chart_box .toggle {
  position: relative;
  width: 44px;
  height: 22px;
  border-radius: 50px;
  background-color: #222222;
  border: 1px solid #222222;
  overflow: hidden;
}

/* line 94, H:/admin_project/hospital/scss/_dashboard_part.scss */
.chart_box .check {
  position: absolute;
  display: block;
  cursor: pointer;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 6;
}

/* line 105, H:/admin_project/hospital/scss/_dashboard_part.scss */
.chart_box .check:checked ~ .switch {
  right: 5px;
  left: 57.5%;
  transition: 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition-property: left, right;
  transition-delay: 0.08s, 0s;
}

/* line 112, H:/admin_project/hospital/scss/_dashboard_part.scss */
.chart_box .switch {
  position: absolute;
  left: 5px;
  top: 3px;
  bottom: 2px;
  right: 57.5%;
  background-color: #fff;
  border-radius: 50%;
  z-index: 1;
  transition: 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition-property: left, right;
  transition-delay: 0s, 0.08s;
  height: 13px;
  width: 13px;
  padding: 6px !important;
  margin-right: 0;
}

/* line 128, H:/admin_project/hospital/scss/_dashboard_part.scss */
.chart_box .switch:after {
  display: none;
}

/* line 132, H:/admin_project/hospital/scss/_dashboard_part.scss */
.chart_box .hide {
  display: none !important;
}

/* line 141, H:/admin_project/hospital/scss/_dashboard_part.scss */
.QA_section .QA_table .table {
  background: #ffffff;
  border-radius: 10px;
  margin-bottom: 35px;
  padding-top: 20px;
}

/* line 149, H:/admin_project/hospital/scss/_dashboard_part.scss */
.QA_section .QA_table th,
.QA_section .QA_table td {
  font-size: 13px;
  font-weight: 400;
  line-height: 1.9;
  color: #222222;
  padding: 16px 30px;
  vertical-align: middle;
}

/* line 157, H:/admin_project/hospital/scss/_dashboard_part.scss */
.QA_section .QA_table .question_content {
  color: #7e7172;
  font-size: 13px;
}

/* line 160, H:/admin_project/hospital/scss/_dashboard_part.scss */
.QA_section .QA_table .question_content:hover {
  color: #2e4765;
}

/* line 166, H:/admin_project/hospital/scss/_dashboard_part.scss */
.QA_section .QA_table thead th {
  white-space: nowrap;
  border-bottom: 1px solid rgba(130, 139, 178, 0.3) !important;
}

/* line 172, H:/admin_project/hospital/scss/_dashboard_part.scss */
.QA_section .QA_table tbody th {
  font-size: 14px;
  color: #415094;
  font-weight: 400 !important;
}

/* line 178, H:/admin_project/hospital/scss/_dashboard_part.scss */
.QA_section .QA_table tbody img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

/* line 183, H:/admin_project/hospital/scss/_dashboard_part.scss */
.QA_section .QA_table tbody th,
.QA_section .QA_table tbody td {
  color: #7e7172;
  font-size: 14px;
  color: #828bb2;
  font-weight: 400;
  border-bottom: 1px solid rgba(130, 139, 178, 0.1);
}

/* line 189, H:/admin_project/hospital/scss/_dashboard_part.scss */
.QA_section .QA_table tbody th a,
.QA_section .QA_table tbody td a {
  font-size: 14px;
  font-weight: 400;
  color: #828bb2;
}

/* line 193, H:/admin_project/hospital/scss/_dashboard_part.scss */
.QA_section .QA_table tbody th a:hover,
.QA_section .QA_table tbody td a:hover {
  color: #7c32ff;
}

/* line 197, H:/admin_project/hospital/scss/_dashboard_part.scss */
.QA_section .QA_table tbody th.pending,
.QA_section .QA_table tbody td.pending {
  color: #e09079;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
}

/* line 204, H:/admin_project/hospital/scss/_dashboard_part.scss */
.QA_section .QA_table tbody th.priority_hight,
.QA_section .QA_table tbody td.priority_hight {
  font-size: 14px;
  color: #d7598f;
  font-weight: 400;
}

/* line 213, H:/admin_project/hospital/scss/_dashboard_part.scss */
.QA_section .QA_table tbody tr {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

/* line 220, H:/admin_project/hospital/scss/_dashboard_part.scss */
.QA_section .QA_table tbody tr:hover {
  background: #fff;
}

/* line 226, H:/admin_project/hospital/scss/_dashboard_part.scss */
.QA_section .QA_table .view_btn {
  color: #2e4765;
}

/* line 228, H:/admin_project/hospital/scss/_dashboard_part.scss */
.QA_section .QA_table .view_btn:hover {
  text-decoration: underline;
}

/* line 232, H:/admin_project/hospital/scss/_dashboard_part.scss */
.QA_section .QA_table .table {
  margin-bottom: 0 !important;
}

/* line 234, H:/admin_project/hospital/scss/_dashboard_part.scss */
.QA_section .QA_table .table thead th {
  border-bottom: 0 solid transparent;
  background-color: #fff;
  padding: 17px 30px;
  line-height: 16px;
  border: 0px solid transparent;
  font-size: 12px;
  font-weight: 600;
  color: #ffffff;
  white-space: nowrap;
  text-transform: capitalize;
  font-family: "Rajdhani", sans-serif;
  border: 0;
  background: #2daab8;
}

/* line 248, H:/admin_project/hospital/scss/_dashboard_part.scss */
.QA_section .QA_table .table thead th:first-child {
  border-radius: 30px 0px 0px 30px;
}

/* line 251, H:/admin_project/hospital/scss/_dashboard_part.scss */
.QA_section .QA_table .table thead th:last-child {
  border-radius: 0px 30px 30px 0px;
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* line 263, H:/admin_project/hospital/scss/_dashboard_part.scss */
  .chart_box_1 .box_header {
    flex-direction: column;
  }
}

/* line 267, H:/admin_project/hospital/scss/_dashboard_part.scss */
.chart_box_1 .box_header .box_header_left {
  flex-basis: 50%;
}

@media (min-width: 768px) and (max-width: 991.98px) {
  /* line 267, H:/admin_project/hospital/scss/_dashboard_part.scss */
  .chart_box_1 .box_header .box_header_left {
    flex-basis: 55%;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  /* line 267, H:/admin_project/hospital/scss/_dashboard_part.scss */
  .chart_box_1 .box_header .box_header_left {
    flex-basis: 55%;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* line 267, H:/admin_project/hospital/scss/_dashboard_part.scss */
  .chart_box_1 .box_header .box_header_left {
    flex-basis: 100%;
    width: 100%;
    margin-bottom: 20px;
  }
}

/* line 280, H:/admin_project/hospital/scss/_dashboard_part.scss */
.chart_box_1 .box_header .box_header_left ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* line 284, H:/admin_project/hospital/scss/_dashboard_part.scss */
.chart_box_1 .box_header .box_header_left ul li {
  display: inline-block;
  text-align: center;
}

@media (max-width: 575.98px) {
  /* line 284, H:/admin_project/hospital/scss/_dashboard_part.scss */
  .chart_box_1 .box_header .box_header_left ul li {
    flex: 50% 0 0;
    margin-bottom: 20px;
  }
}

/* line 291, H:/admin_project/hospital/scss/_dashboard_part.scss */
.chart_box_1 .box_header .box_header_left ul li h4 {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 0px;
}

/* line 296, H:/admin_project/hospital/scss/_dashboard_part.scss */
.chart_box_1 .box_header .box_header_left ul li p {
  font-weight: 500;
  font-size: 12px;
  margin-bottom: 0;
}

/* line 307, H:/admin_project/hospital/scss/_dashboard_part.scss */
.chart_box_1 .box_header .box_header_right .legend_circle ul li {
  color: #828bb2;
  font-size: 12px;
  font-weight: 400;
  margin-right: 30px;
  display: inline-block;
}

@media (max-width: 575.98px) {
  /* line 307, H:/admin_project/hospital/scss/_dashboard_part.scss */
  .chart_box_1 .box_header .box_header_right .legend_circle ul li {
    margin-right: 14px;
  }
}

/* line 316, H:/admin_project/hospital/scss/_dashboard_part.scss */
.chart_box_1 .box_header .box_header_right .legend_circle ul li:last-child {
  margin-right: 0;
}

/* line 319, H:/admin_project/hospital/scss/_dashboard_part.scss */
.chart_box_1 .box_header .box_header_right .legend_circle ul li span {
  width: 10px;
  height: 10px;
  display: inline-block;
  border-radius: 50%;
  margin-right: 10px;
}
