.CRM_dropdown.dropdown .dropdown-toggle:hover,
.CRM_dropdown.dropdown .dropdown-toggle:focus {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#7c32ff),
    color-stop(70%, #a235ec),
    to(#c738d8)
  );
  background: -o-linear-gradient(left, #7c32ff 0%, #a235ec 70%, #c738d8 100%);
  background: linear-gradient(90deg, #7c32ff 0%, #a235ec 70%, #c738d8 100%);
}
