/* Normal desktop :1200px. */
/* Normal desktop :992px. */
/* Tablet desktop :768px. */
/* small mobile :320px. */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,500;1,700&family=Rajdhani:wght@300;400;500;600;700&display=swap");
@import "extends.css";

/**************** common css start ****************/
@import "reset.css";

/******** base color css ********/
/*@import "button.css";*/

/******** header css here *********/
/*@import "header.css";*/

/************ sidebar css here ************/
/*@import "sidebar.css";*/
/*@import "body_content.css";*/

/******** main content css here *********/
/*@import "main_content.css";*/
/******** main content css end *********/

/*@import "dashboard_part.css";*/
/*@import "form_style.css";*/
/*@import "revenue_part.css";*/
/*@import "payment_setting.css";*/

/************** footer css ****************/
/*@import "footer.css";*/
/************** footer css end ****************/

/********* breadcrumd css here **********/
/*@import "breadcrumb.css";*/
/********* breadcrumd css end **********/

/*@import "bar-chart.css";*/
/*@import "lms_category.css";*/
/*@import "summer_note.css";*/
/*@import "common_component.css";*/
/*@import "projects.css";*/
/*@import "pie.css";*/
/*@import "profilebox.css";*/
/*@import "chart_box.css";*/
/*@import "faq.css";*/
/*@import "mailbox.css";*/

[data-bs-theme="dark"] {
  body {
    background: #100e08;
  }

  .body_white_bg {
    background: black;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #7c7c7c;
  }

  p {
    color: #919bc7;
  }

  .section_bg {
    background: #010e0d;
  }

  .cs_checkbox .checkmark {
    border-color: #e4e8ec;
  }

  .nice_Select {
    background-color: black;
    color: #758eff;

    .list {
      background-color: black;
    }

    &.open .list li:first-child {
      color: white;
    }

    .option:hover,
    .option.focus,
    .option.selected.focus {
      background-color: #090909;
    }
  }

  .nice_Select2 {
    color: #7f96ff;

    .list {
      background-color: black;
    }

    &.open .list li:first-child {
      color: white;
    }

    .option:hover,
    .option.focus,
    .option.selected.focus {
      background-color: #090909;
    }
  }

  .white_box {
    background-color: black;

    h3 span {
      color: #a39293;
    }
  }

  .white_box_p_30 {
    background-color: black;
  }

  .cu_dropdown {
    .btn {
      border-color: #0e0d0c;
      background-color: #010e0d;
      color: #a99899;
    }
  }
}
