body {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  font-size: 14px;
  background: #eff1f7;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1310px;
  }
}

.body_white_bg {
  background: white;
}

.br_5 {
  border-radius: 5px;
}

.border_bottom_1px {
  border-bottom: 1px solid #efefef;
}

.message_submit_form:focus {
  outline: none;
}

input:hover,
input:focus {
  outline: none !important;
  box-shadow: 0 0 0 0 transparent !important;
}

:focus {
  outline: -webkit-focus-ring-color auto 0;
}

.custom-file-input:focus~.custom-file-label {
  border-color: transparent;
  box-shadow: none;
}

.form-control {
  border-color: #bbc1c9;

  &:focus {
    box-shadow: 0 0 0 0 transparent !important;
    border-color: #bbc1c9;
  }
}

.dropdown-menu {
  margin: 0;
  padding: 0;
}

.section_padding {
  padding: 120px 0;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .section_padding {
    padding: 80px 0;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .section_padding {
    padding: 70px 0;
  }
}

@media (max-width: 575.98px) {
  .section_padding {
    padding: 70px 0;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .section_padding {
    padding: 70px 0;
  }
}

.padding_top {
  padding-top: 120px;
}

@media (max-width: 991px) {
  .padding_top {
    padding-top: 70px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .padding_top {
    padding-top: 80px;
  }
}

.padding_bottom {
  padding-bottom: 120px;
}

@media (max-width: 991px) {
  .padding_bottom {
    padding-bottom: 70px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .padding_bottom {
    padding-bottom: 80px;
  }
}

a {
  text-decoration: none;
  transition: 0.5s;

  &:hover {
    text-decoration: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #222;
  font-family: "Rajdhani", sans-serif;
  font-weight: 600;
  line-height: 1.2;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 26px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.8;
}

li {
  list-style: none;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
  color: #4a5066;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

a:focus,
.button:focus,
button:focus,
.btn:focus {
  text-decoration: none;
  outline: none;
  box-shadow: none;
  transition: 1s;
}

.p_30 {
  padding: 30px;
}

@media (max-width: 991px) {
  .p_30 {
    padding: 20px;
  }
}

.p_20 {
  padding: 20px;
}

.p_15 {
  padding: 20px 20px 15px;
}

.pb_20 {
  padding-bottom: 20px;
}

.mt_60 {
  margin-top: 60px;
}

@media (max-width: 991px) {
  .mt_60 {
    margin-top: 30px;
  }
}

.mt_25 {
  margin-top: 25px;
}

.mt_30 {
  margin-top: 30px;
}

@media (max-width: 991px) {
  .mt_30 {
    margin-top: 15px;
  }
}

.mt_10 {
  margin-top: 10px;
}

.mb_15 {
  margin-bottom: 15px;
}

.mb_15_imp {
  margin-bottom: 13px !important;
}

.mb_20 {
  margin-bottom: 20px !important;
}

.mb_20_imp {
  margin-bottom: 20px;
}

.mb_25 {
  margin-bottom: 20px;
}

.mb_50 {
  margin-bottom: 50px;
}

@media (max-width: 575.98px) {
  .mb_50 {
    margin-bottom: 30px;
  }
}

.mt_50 {
  margin-top: 50px;
}

@media (max-width: 575.98px) {
  .mt_50 {
    margin-top: 25px;
  }
}

.mt_20 {
  margin-top: 20px;
}

.mb_10 {
  margin-bottom: 10px !important;
}

.mt_40 {
  margin-top: 40px;
}

th:focus,
td:focus {
  outline: -webkit-focus-ring-color auto 0;
}

table.dataTable tbody th,
table.dataTable tbody td {
  vertical-align: middle;
}

.section_bg {
  background-color: #fef1f2;
}

.cs_checkbox {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  user-select: none;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

    /* Show the checkmark when checked */
    &:checked~.checkmark::after {
      content: "";
      display: block;
      left: 6px;
      top: 1px;
      width: 5px;
      height: 9px;
      border: solid #7e7172;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
      position: absolute;
      box-sizing: border-box;
    }
  }

  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: transparent;
    border: 1px solid #1b1713;
    box-sizing: border-box;
    translate: 0 50%;
  }

  /* Create the checkmark/indicator (hidden when not checked) */
  &::after {
    content: "";
    position: absolute;
    display: none;
  }

  span {
    padding: 0 !important;
  }
}

.section_tittle {
  text-align: center;

  h2 {
    font-size: 36px;
    margin-bottom: 25px;
    line-height: 33px;
  }

  p {
    margin-bottom: 72px;
  }
}

@media (max-width: 991px) {
  .section_tittle h2 {
    margin-bottom: 15px;
    font-size: 25px;
  }
}

@media (max-width: 991px) {
  .section_tittle h2 {
    font-size: 30px;
  }
}

@media (max-width: 991px) {
  .section_tittle p {
    margin-bottom: 40px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .section_tittle p {
    margin-bottom: 50px;
  }
}

.custom_checkbox tr th:first-child,
.custom_checkbox tr td:first-child {
  padding: 16px 0 16px 0 !important;
}

.border_1px {
  border-right: 1px solid rgba(130, 139, 178, 0.3);
  height: 40px;
  margin-right: 20px;
  margin-left: 8px;
}

.nice_Select {
  border: 0;
  border-radius: 0;
  padding-left: 0;
  padding-right: 30px;
  color: #415094;

  .nice-select-search-box {
    width: 200px !important;
  }

  &.bgLess {
    background: transparent;
    border: 0 !important;
  }

  &::after {
    content: "\e62a";
    font-family: themify, themify-icons;
    border: 0;
    transform: rotate(0deg);
    margin-top: -16px;
    font-size: 12px;
    font-weight: 500;
    right: 18px;
    transform-origin: none;
    transition: all 0.1s ease-in-out;
    margin-top: -22px;
  }

  &.open {
    &::after {
      transform: rotate(180deg);
      margin-top: 12px;
      right: 12px;
    }

    .list {
      min-width: 200px;
      left: 0;
      overflow-y: auto;

      li:first-child {
        color: black;
      }
    }
  }

  &:focus {
    box-shadow: none;
    border: 0 !important;
  }

  &:hover {
    border: 0;
  }

  .current {
    transition: all 0.4s ease 0s;
  }

  .list {
    width: 100%;
    left: auto;
    right: 0;
    border-radius: 0 0 10px 10px;
    margin-top: 1px;
    z-index: 9999 !important;
    box-shadow: 0 10px 20px rgba(108, 39, 255, 0.3);

    li {
      font-size: 12px;
      font-weight: 500;
      text-transform: uppercase;
    }
  }
}

.nice_Select2 {
  color: #415094;
  background: transparent;
  border: 1px solid #eaf0f4;
  padding-left: 25px;
  padding-right: 47px;
  border-radius: 4px;
  height: 32px;
  line-height: 31px;
  font-size: 12px;
  text-transform: capitalize;
  box-sizing: border-box;

  .nice-select-search-box {
    width: 100% !important;
    margin-top: 5px;
  }

  &::after {
    content: "\e62a";
    font-family: themify, themify-icons;
    border: 0;
    transform: rotate(0deg);
    margin-top: -16px;
    font-size: 12px;
    font-weight: 500;
    transform-origin: none;
    transition: all 0.1s ease-in-out;
    margin-top: -16px;
    right: 30px;
  }

  &:active,
  &.open,
  &:focus {
    border-color: #eaf0f4;
  }

  &.open {
    &::after {
      transform: rotate(180deg);
      margin-top: 8px;
      right: 24px;
    }

    .list {
      min-width: 100%;
      margin-top: 5px;
      left: 0;
      overflow-y: auto;

      li:first-child {
        color: black;
      }
    }
  }

  &:focus {
    box-shadow: none;
    border: 1px solid #eaf0f4 !important;
  }

  &:hover {
    border: 1px solid #eaf0f4 !important;
  }

  .current {
    transition: all 0.4s ease 0s;
  }

  .list {
    width: 100%;
    left: auto;
    right: 0;
    border-radius: 0 0 10px 10px;
    margin-top: 1px;
    z-index: 9999 !important;
    box-shadow: 0 10px 20px rgba(108, 39, 255, 0.3);

    li {
      font-size: 12px;
      font-weight: 500;
      text-transform: uppercase;
    }
  }
}

.white_box {
  background-color: white;
  padding: 20px;

  h3 {
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    margin-bottom: 22px;
    font-family: "Poppins", sans-serif;

    span {
      font-weight: 300;
      color: #7e7172;
    }
  }
}

.white_box_p_30 {
  padding: 30px;
  background-color: white;
}

@media (max-width: 991px) {
  .white_box_p_30 {
    padding: 25px 15px;
  }
}

@media (max-width: 991px) {
  .white_box {
    padding: 20px 20px;
  }
}

@media (max-width: 575.98px) {
  .white_box {
    padding: 25px 15px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .white_box {
    padding: 30px 20px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1439px) {
  .white_box {
    padding: 30px 20px;
  }
}

@media (max-width: 991px) {
  .white_box h3 {
    margin-bottom: 10px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .white_box h3 {
    margin-bottom: 10px;
  }
}

.progress-bar {
  text-align: right;
  padding-right: 8px;
}

.cu_dropdown {
  .btn {
    border: 1px solid #f1f2f3;
    background-color: #fef1f2;
    color: #595051;
    font-size: 12px;
    font-weight: 300;
    padding: 5px 15px;
  }

  .btn_1 {
    padding: 11px 20px;
  }

  .dropdown-toggle::after {
    display: inline-block;
    margin-left: 10px;
    vertical-align: 0;
    content: "\e64b";
    border-top: none;
    font-family: themify, themify-icons;
    font-size: 10px;
  }

  .dropdown-menu {
    background-color: #222;
    min-width: 102px;
    left: 0 !important;
    border-radius: 0 0 5px 5px;
    padding: 17px 0;

    .dropdown-item {
      font-size: 12px;
      font-weight: 300;
      text-transform: capitalize;
      padding: 7px 20px;
      color: white;
    }
  }

  .left_arrow {
    &:hover {
      background-color: transparent;
      padding-left: 38px;
    }

    &::after {
      left: 18px;
      top: 11px;
    }
  }
}

/* line 586, H:/admin_project/hospital/scss/_reset.scss */
.switch {
  background-color: gray;
  border-radius: 43px;
  position: relative;
  cursor: pointer;
  padding: 14px 25px !important;
  margin-right: 20px;
  height: 30px;
  box-sizing: border-box;
}

.switch {
  appearance: none;

  &::after {
    top: 6px;
    left: 6px;
    content: "";
    width: 15px;
    height: 15px;
    background-color: #2e4765;
    position: absolute;
    border-radius: 100%;
    transition: 1s;
  }

  &:checked {
    background-color: #2e4765 !important;

    &::after {
      background-color: white !important;
      transform: translateX(25px);
    }
  }

  &:focus {
    outline-color: transparent;
  }
}

.menu_bropdown {
  display: inline-block;

  .dropdown-menu {
    min-width: 168px !important;
    right: 0;
  }
}

@media (max-width: 991px) {
  .sidebar_widget {
    margin-top: 30px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .sidebar_widget {
    margin-top: 0;
  }
}

.text_underline {
  color: #222;
  text-decoration: underline;
  transition: 0.5s;

  &:hover {
    color: #222;
    text-decoration: underline;
  }
}

.check_box_item {
  margin-top: 11px;

  .single_check_box {
    padding: 15px 0;
    border-bottom: 1px solid #e4e8ec;

    .switch {
      appearance: none;
      background-color: transparent;
      padding: 14px 27px !important;
      margin-right: 0;
      border: 1px solid #e4e8ec;

      &::after {
        top: 4px;
        width: 20px;
        height: 20px;
      }

      &:checked {
        background-color: transparent !important;

        &::after {
          background-color: #7e7172 !important;
          left: 4px;
        }
      }
    }
  }
}

.list_header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  align-items: center;

  p {
    color: #222;
    font-weight: 500;
  }

  .nice_Select {
    margin-left: 15px;
  }

  .list_header_filter {
    display: flex;
    align-items: center;
  }

  .list_header_filter img {
    width: 17px;
    margin-right: 8px;
  }
}

@media (max-width: 575.98px) {
  .list_header {
    display: block;
  }
}

@media (max-width: 575.98px) {
  .list_header .nice_Select {
    margin-left: 10px;
  }
}

@media (max-width: 575.98px) {
  .list_header .list_header_filter {
    margin-top: 15px;
  }
}

.cs_modal {
  background-color: #fef1f2;

  .modal-content {
    background-color: #fef1f2;
    padding: 0 30px;
  }

  .modal-header {
    align-items: center;
    background-color: #f7faff;
    padding: 23px 30px;
    border-bottom: 0 solid transparent;

    h5 {
      margin-bottom: 0;
      line-height: 25px;
      font-size: 22px;
      font-weight: 600;

      span {
        font-size: 14px;
        color: #707070;
        opacity: 1;
      }
    }

    .close {
      padding: 0;
      margin: 0;
      opacity: 1;

      i {
        font-size: 14px;
        color: #707070;
      }
    }
  }

  .modal-body {
    padding: 35px 30px !important;
    background: white;
    border-radius: 5px;

    input,
    .nice_Select {
      height: 50px;
      line-height: 50px;
      padding: 10px 20px;
      border: 1px solid #f1f3f5;
      color: #707070;
      font-size: 14px;
      font-weight: 500;
      background-color: white;
      width: 100%;
      box-sizing: border-box;
    }

    .chose_thumb_title {
      font-size: 12px;
      font-weight: 300;
      color: #222;
      text-align: left;
      margin: 0;
      display: block;
      margin-bottom: 8px;
    }

    .input_wrap {
      label {
        font-size: 12px;
        font-weight: 300;
        color: #222222;
        text-align: left;
        margin: 0;
        display: block;
        margin-bottom: 8px;
      }

      textarea {
        height: 100px;
        padding: 0;
        line-height: 28px;
        padding: 13px 25px;
      }
    }

    .nice_Select,
    input,
    textarea {
      height: 50px;
      line-height: 50px;
      background-color: white;
      border: 1px solid #eee1e2;
      padding: 10px 25px;
      color: #7e7172;
      font-size: 13px;
      width: 100%;
      display: block;
      margin-bottom: 21px;
      font-weight: 300;
      border-radius: 3px;
      box-sizing: border-box;

      &::placeholder {
        color: #7e7172;
        font-weight: 300;
        opacity: 1;
      }
    }

    .nice_Select {
      line-height: 30px;

      ::after {
        left: 22px;

      }
    }

    ::placeholder {
      color: #222;
    }
  }

  .modal_btn {
    display: flex;
    justify-content: start;
    align-items: center;

    .btn_1 {
      padding: 16px 26px !important;
      margin: 0 5px;
      text-align: center;
    }
  }

  .modal-footer {
    border-top: 0px solid transparent;
    padding: 30px 0 40px 0;
  }
}


/* line 1265, H:/admin_project/hospital/scss/_reset.scss */
.cs_modal .modal-body .nice_Select {
  line-height: 29px;
}

/* line 1267, H:/admin_project/hospital/scss/_reset.scss */
.cs_modal .modal-body .nice_Select:after {
  right: 22px;
}

/* line 1270, H:/admin_project/hospital/scss/_reset.scss */
.cs_modal .modal-body .nice_Select .list {
  width: 100%;
}

/* line 1274, H:/admin_project/hospital/scss/_reset.scss */
.cs_modal .modal-body .form-group {
  margin-bottom: 12px;
}

/* line 1277, H:/admin_project/hospital/scss/_reset.scss */
.cs_modal .modal-body textarea {
  height: 168px;
  padding: 15px 20px;
  border: 1px solid #f1f3f5;
  color: #707070;
  font-size: 14px;
  font-weight: 500;
}

/* line 1285, H:/admin_project/hospital/scss/_reset.scss */
.cs_modal .modal-body p {
  font-size: 16px;
  font-weight: 500;
  margin-top: 25px;
  color: #707070;
  text-align: center;
}

/* line 1291, H:/admin_project/hospital/scss/_reset.scss */
.cs_modal .modal-body p a {
  color: #2e4765;
}

/* line 1296, H:/admin_project/hospital/scss/_reset.scss */
.cs_modal .modal-body .btn_1 {
  width: 100%;
  display: block;
  margin-top: 20px;
}

/* line 1302, H:/admin_project/hospital/scss/_reset.scss */
.cs_modal .modal-body .social_login_btn .btn_1 {
  color: #fff;
  background-color: #3b5998;
  border: 1px solid #3b5998;
  margin-top: 0;
}

/* line 1307, H:/admin_project/hospital/scss/_reset.scss */
.cs_modal .modal-body .social_login_btn .btn_1:hover {
  color: #fff !important;
}

/* line 1310, H:/admin_project/hospital/scss/_reset.scss */
.cs_modal .modal-body .social_login_btn .btn_1 i {
  margin-right: 10px;
}

/* line 1316, H:/admin_project/hospital/scss/_reset.scss */
.cs_modal .modal-body .social_login_btn .form-group:last-child .btn_1 {
  background-color: #4285f4;
  border: 1px solid #4285f4;
}

/* line 1323, H:/admin_project/hospital/scss/_reset.scss */
.cs_modal .modal-body .pass_forget_btn {
  color: #707070;
  margin-top: 20px;
  font-size: 16px;
  text-align: center;
  font-weight: 500;
  display: inline-block;
}

/* line 1330, H:/admin_project/hospital/scss/_reset.scss */
.cs_modal .modal-body .pass_forget_btn:hover {
  color: #2e4765;
}

@media (max-width: 575.98px) {
  .cs_modal .modal-content {
    padding: 0 20px;
  }
}

@media (max-width: 575.98px) {
  .cs_modal .modal-body {
    padding: 25px 20px !important;
  }
}

/* line 815, H:/admin_project/hospital/scss/_reset.scss */
.form_box .from_group {
  display: block;
  width: 100%;
  margin-bottom: 23px;

  label {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 13px;
    color: #707070;
  }

  .nice_Select,
  input,
  textarea {
    width: 100%;
    display: block;
    background-color: #fef1f2;
    border: 1px solid #f1f2f3;
    height: 50px;
    line-height: 50px;
    border-radius: 5px;
    padding: 10px 20px;
    box-sizing: border-box;
  }

  textarea {
    height: 115px;
    line-height: 27px;
  }

  .bootstrap-tagsinput {
    input {
      border: none !important;
      width: auto !important;
      display: inline-block !important;
      background-color: transparent !important;
    }

    .badge {
      margin: 0 5px;
      padding: 9px 8px;
      line-height: 12px;
      font-weight: 500;
      font-size: 13px;

      [data-role="remove"]::after {
        background-color: transparent !important;
      }
    }
  }

  .badge-info {
    color: white;
    background-color: #2ec9b8;
  }

  .nice_Select {
    line-height: 30px;
  }
}

.note-editable {
  background-color: #fef1f2;
}

.note-btn-group.note-style {
  display: none;
}

.plr_30 {
  padding: 0 30px !important;
}

@media (max-width: 767.98px) {
  .plr_30 {
    padding: 0 15px !important;
  }
}

.mb_8 {
  margin-bottom: 8px !important;
}

.mb_7 {
  margin-bottom: 7px !important;
}

.ml-10 {
  margin-left: 10px;
}

.mb_30 {
  margin-bottom: 30px !important;
}

@media (max-width: 575.98px) {
  .lms_block {
    display: block !important;
  }
}

@media (max-width: 575.98px) {
  .add_button {
    margin-top: 15px;
    margin-left: 0;
  }
}

.lms_pagination_wrap {
  margin-top: 30px;
}

.lms_pagination_wrap ul li {
  display: inline-block;
  margin: 0 .8px;

  a {
    width: 40px;
    height: 40px;
    display: inline-block;
    background: #fff;
    line-height: 40px;
    color: #cec1c2;
    text-align: center;
    border-radius: 3px;
    font-size: 14px;

    &.active,
    &:hover {
      background: #fe1724;
      color: #fff;
    }
  }
}

@media (min-width: 768px) {
  .modal-dialog.custom-modal-dialog {
    max-width: 650px;
  }
}

@media (min-width: 992px) {
  .modal-dialog.custom-modal-dialog {
    max-width: 950px;
  }
}

@media (min-width: 1200px) {
  .modal-dialog.custom-modal-dialog {
    max-width: 1050px;
  }
}

.file_upload {
  border: 1px solid #eee1e2 !important;
  padding: 9px 24px;
  border-radius: 3px;

  label {
    margin-bottom: 0 !important;
  }

  .form-group {
    margin-bottom: 0;
    background-color: #fff;
    width: 100%;
    padding: 0;
    border-radius: 5px;
  }

  .btn_file_upload {
    color: #fff;
    padding: 0;
    height: 30px;
    line-height: 30px;
    border: 0;
    display: inline-block;

    &:hover,
    &:focus {
      color: #888888;
      border-color: #888888;
    }
  }

  .input-file,
  .input-file2 {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;

    +.js-labelFile,
    +.js-labelFile2 {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding: 0 10px;
      cursor: pointer;
    }
  }

  .btn {
    padding: 0 16px !important;
    background-color: #fe1724;
    display: inline-block !important;
    font-size: 14px;
    color: #fff !important;
    border-radius: 30px;
    bottom: 0;
    margin-bottom: 0;

    &:hover {
      background-color: #2e4765;
      color: #fff;
      border: 0;
    }
  }
}

td:focus,
th:focus {
  outline: none !important;
}

.mb_20 {
  margin-bottom: 20px;
}

.mr_10 {
  margin-right: 10px !important;
}

.checkbox_wrap p {
  font-size: 13px;
  font-weight: 300;
  color: #7e7172;
  margin-bottom: 0;
}

.lms_checkbox_1 {
  display: inline-block;
  height: 30px;
  position: relative;
  width: 50px;
  margin-bottom: 0;
  margin-right: 15px;

  input {
    display: none !important;

    &:checked+.slider-check {
      background-color: #fef1f2;
      color: #fff;
      content: "oui";

      &::before {
        transform: translateX(20px);
        background: #fe1724;
      }
    }
  }

  .slider-check {
    background-color: #7e7172;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;

    &.round {
      border-radius: 34px;

      &::before {
        border-radius: 50%;
      }
    }

    &::before {
      background-color: #222;
      bottom: 5px;
      content: "";
      height: 20px;
      left: 4px;
      position: absolute;
      transition: .4s;
      width: 20px;
    }
  }
}

.input_wrap label {
  font-size: 12px;
  font-weight: 300;
  color: #222;
  text-align: left;
  margin: 0;
  display: block;
  margin-bottom: 8px;
}

@media (min-width: 991px) {
  .medium_modal_width .modal-dialog {
    max-width: 780px;
  }
}

.list_header_btn_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-right: 60px;
}

@media (max-width: 575.98px) {
  .list_header_btn_wrapper {
    display: block;
    margin-bottom: 15px;
    margin-right: 0;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .list_header_btn_wrapper {
    margin-right: 0;
    margin-bottom: 15px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .list_header_btn_wrapper {
    margin-right: 0;
    display: block;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .list_header_btn_wrapper {
    margin-right: 0;
    display: block;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1439px) {
  .list_header_btn_wrapper {
    margin-right: 30px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .list_header_block {
    display: block;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .list_header_block .success_faild_btn {
    margin-top: 15px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1439px) {
  .list_header_block .serach_field_2 {
    width: 300px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .list_header_block .serach_field_2 {
    width: 380%;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .list_header_block .box_right {
    justify-content: space-between;
  }
}

/* line 1175, H:/admin_project/hospital/scss/_reset.scss */
.gj-datepicker .fa-calendar-alt {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  color: #cec1c2;
  right: 25px;
}

/* line 1185, H:/admin_project/hospital/scss/_reset.scss */
.white_box_border {
  border: 1px solid rgba(202, 206, 213, 0.7);
}

.nowrap {
  white-space: nowrap;
}

.mb-25 {
  margin-bottom: 25px;
}

.mb_15 {
  margin-bottom: 15px;
}

.mr-10 {
  margin-right: 10px;
}

.mr_5 {
  margin-right: 5px;
}

.mb_30 {
  margin-bottom: 30px;
}

.mt_10px {
  margin-top: 10px;
}

.pt_30 {
  padding-top: 30px !important;
}

.wrapper .progress {
  margin-bottom: 15px;
}

.apexcharts-datalabels-group {
  position: relative;
  top: -13px !important;
}

/* line 1338, H:/admin_project/hospital/scss/_reset.scss */
.border_style {
  width: 100%;
  display: block;
  text-align: center;
  padding: 13px 0 17px;
  position: relative;
  z-index: 1;
}

/* line 1345, H:/admin_project/hospital/scss/_reset.scss */
.border_style span {
  padding: 0 25px;
  text-align: center;
  display: inline-block;
  background-color: #fff;
}

/* line 1351, H:/admin_project/hospital/scss/_reset.scss */
.border_style:after {
  position: absolute;
  content: "";
  height: 1px;
  width: 100%;
  background-color: #bbc1c9;
  top: 24px;
  left: 0;
  z-index: -1;
}

/* line 1363, H:/admin_project/hospital/scss/_reset.scss */
p a {
  color: #7e7172;
}

/* line 1365, H:/admin_project/hospital/scss/_reset.scss */
p a:hover {
  color: #2e4765;
}

/* line 1371, H:/admin_project/hospital/scss/_reset.scss */
.cs_check_box {
  display: flex;
  margin-top: 20px;
}

/* line 1374, H:/admin_project/hospital/scss/_reset.scss */
.cs_check_box input,
.cs_check_box label {
  line-height: 20px !important;
  height: auto !important;
  width: auto !important;
  max-width: auto;
}

/* line 1380, H:/admin_project/hospital/scss/_reset.scss */
.cs_check_box .common_checkbox {
  display: none;
}

/* line 1383, H:/admin_project/hospital/scss/_reset.scss */
.cs_check_box label {
  position: relative;
  padding-left: 34px;
  margin-bottom: 0;
}

/* line 1388, H:/admin_project/hospital/scss/_reset.scss */
.cs_check_box .common_checkbox+label {
  display: block;
  cursor: pointer;
  color: #7e7172;
}

/* line 1393, H:/admin_project/hospital/scss/_reset.scss */
.cs_check_box .common_checkbox+label:after {
  position: absolute;
  left: 0;
  top: 0;
  height: 20px;
  width: 20px;
  border: 1px solid #7e7172;
  border-radius: 5px;
  content: "";
}

/* line 1403, H:/admin_project/hospital/scss/_reset.scss */
.cs_check_box .common_checkbox:checked+label:after {
  content: "\f00c";
  font-family: "Font Awesome\ 5 Free";
  font-weight: 900;
  padding: 2px;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
}

/* line 1413, H:/admin_project/hospital/scss/_reset.scss */
.cs_check_box .common_checkbox {
  display: none !important;
}

/* line 1417, H:/admin_project/hospital/scss/_reset.scss */
.hide_pils.dropdown-toggle::after {
  display: inline-block;
  margin-left: .255em;
  vertical-align: .255em;
  content: "";
  border-top: .3em solid;
  border-right: .3em solid transparent;
  border-bottom: 0;
  border-left: .3em solid transparent;
  border: 0 !important;
}

/* line 1428, H:/admin_project/hospital/scss/_reset.scss */
.mr_20 {
  margin-right: 20px;
}

@media (max-width: 575.98px) {

  /* line 1431, H:/admin_project/hospital/scss/_reset.scss */
  .mb-sm-15 {
    margin-bottom: 15px;
  }
}

/* line 1437, H:/admin_project/hospital/scss/_reset.scss */
.heading_6 {
  font-size: 14px;
  font-weight: 600;
  font-family: "Rajdhani", sans-serif;
  color: #2e4765;
  margin-bottom: 0;
}

/* line 1445, H:/admin_project/hospital/scss/_reset.scss */
.card_height_100 {
  height: calc(100% - 30px);
}

/* line 1448, H:/admin_project/hospital/scss/_reset.scss */
.card_height_50 {
  height: calc(50% - 30px);
}

/* line 1452, H:/admin_project/hospital/scss/_reset.scss */
.page-item.active .page-link {
  background-color: #2daab8;
  border-color: #2daab8;
}

/* line 1455, H:/admin_project/hospital/scss/_reset.scss */
.page-item.active .page-link:hover {
  color: #fff;
  background-color: #16bbe5;
  border-color: #16bbe5;
}

/* line 1461, H:/admin_project/hospital/scss/_reset.scss */
.page-link {
  color: #2daab8;
}

/* line 1463, H:/admin_project/hospital/scss/_reset.scss */
.page-link:hover {
  color: #fff;
  background-color: #16bbe5;
  border-color: #16bbe5;
}

/* line 1469, H:/admin_project/hospital/scss/_reset.scss */
.btn-primary {
  color: #fff;
  background-color: #2daab8;
  border-color: #2daab8;
}

/* line 1474, H:/admin_project/hospital/scss/_reset.scss */
.btn-primary:hover {
  color: #fff;
  background-color: #16bbe5;
  border-color: #16bbe5;
}
